<!--Footer -->
<div class="wrapper">
<footer class="main-footer">
  <h2>Наши проекты</h2>
<ul class="main-footer__projects">
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#techminsk_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#gew_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#startuplife_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#bban_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#vd_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#cf_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#belbiz_logo"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg>
        <use xlink:href="#techminsk_logo"></use>
      </svg>
    </a>
  </li>
</ul>
<div class="main-footer__wrapper">
  <div class="main-footer__left">
    <svg class="main-footer__logo">
         <use xlink:href="#logo-big"></use>
    </svg>
    <nav class="footer-menu">
      <ul class="footer-menu__list">
        <li class="menu-item"><a href="/about.html">О клубе</a></li>
        <li class="menu-item"><a href="#">Коворкинг</a></li>
        <li class="menu-item"><a href="/events.html">Мероприятия</a></li>
        <li class="menu-item"><a href="/academy.html">Обучение</a></li>
        <li class="menu-item"><a href="#">Организуй у нас</a></li>
        <li class="menu-item"><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="main-footer__text">
      <p>ООО «Центр деловых коммуникаций БЕЛБИЗ»</p>
      <p>УНП 191452366</p>
      <p>Свидетельство о гос.регистрации № 191452366, выданное отдел предпринимательства и регистрации управления экономики администрации Ленинского района, г. Минска.</p>
      <p>Юр. адрес: ул. Фабрициуса 4, 220007 Минск, Республика Беларусь</p>
    </div>
    <div class="main-footer__pay">
      <h4>Способы оплаты</h4>
      <ul>
        <li>
          <a href="">
            <img src="img/visa_logo.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
             <img src="img/mastercard_logo.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
             <img src="img/belcard.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="img/bepaid_logo.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-footer__right">
    <div class="main-footer__contacts">
      <p>Минск, Фабрициуса 4</p>
      <p><span>+375(29) 1 189 189</span>  <span>+375 (29) 1 189 189</span></p>
    </div>
    <form class="footer-form">
      <h3 class="footer-form__title">Оставайтесь в курсе</h3>
      <input type="email" class="footer-form__input" placeholder="Введите ваш email" required>
      <button type="submit" class="btn ">Подписаться на рассылку</button>
    </form>
  </div>
</div>
<div class="main-footer__wrapper main-footer__wrapper--no-padding">
  <div class="main-footer__copyright">
    <p>&copy; 1900 - 2017 IMAGURU</p>
  </div>
    <div class="main-footer__copyright">
    <p>Design & development by <a href="#">Imaguru team</a></p>
  </div>
</div>

</footer>
</div>
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>
