<!--header  -->
<header class="main-header">
  <div class="logo">
    <a href="/" class="logo__link">
      <svg class="logo__picture">
        <use xlink:href="#header-logo"></use>
      </svg>
    </a>
  </div>

  <!--Menu  -->
  <svg class="search-icon">
    <use xlink:href="#search_icon"></use>
  </svg>
  <svg class="menu-icon">
    <use xlink:href="#menu-icon"></use>
  </svg>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item"><a href="/about.html" class="menu__link">О клубе</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Коворкинг</a></li>
      <li class="menu__item"><a href="/events.html" class="menu__link">Мероприятия</a></li>
      <li class="menu__item menu__item--hasDropdown"><a href="/academy.html" class="menu__link">Обучение</a>
        <div class="menu-dropdown">
          <a href="#" class="menu-dropdown__item">Coding Academy</a>
          <a href="#" class="menu-dropdown__item">Business Academy</a>
        </div>
      </li>
      <li class="menu__item"><a href="#" class="menu__link">Организуй у нас</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
    </ul>
  </nav>
  <form action="none" class="menu__form">
    <input class="menu__search" type="search" placeholder="Поиск">
    <select class="menu__select" name="lang">
      <option value="RU">RU</option>
      <option value="EN">EN</option>
    </select>
  </form>
</header>
