<!--header  -->
<header class="main-header">
  <div class="logo">
    <a href="/" class="logo__link">
      <svg class="logo__picture">
        <use xlink:href="#header-logo"></use>
      </svg>
    </a>
  </div>

  <!--Menu  -->
  <svg class="search-icon">
    <use xlink:href="#search_icon"></use>
  </svg>
  <!-- <svg class="menu-icon">
    <use xlink:href="#menu-icon"></use>
  </svg> -->
  <button class="menu-icon">
  <span class="sandwich">
    <span class="sandwich__topper"></span>
    <span class="sandwich__bottom"></span>
    <span class="sandwich__footer"></span>
  </span>
</button>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu-item current-menu-item"><a href="/about.html">О клубе</a></li>
      <li class="menu-item"><a href="/coworking.html">Коворкинг</a></li>
      <li class="menu-item"><a href="/events.html">Мероприятия</a></li>
      <li class="menu-item menu-item-has-children"><a href="/academy.html">Обучение</a>
        <ul class="sub-menu">
          <a href="#">Coding Academy</a>
          <a href="#">Business Academy</a>
        </ul>
      </li>
      <li class="menu-item"><a href="org-with-us.html">Организуй у нас</a></li>
      <li class="menu-item"><a href="#">Контакты</a></li>
    </ul>
    <div class="lang_menu">
      <ul id="menu-lang-menu" class="lang_menu-list">
        <li id="menu-item-25" class="qtranxs-lang-menu qtranxs-lang-menu-ru menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25">
          <a title="RU" href="#">RU</a>
          <ul class="sub-menu">
            <li id="menu-item-26" class="qtranxs-lang-menu-item qtranxs-lang-menu-item-ru menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
              <a title="RU" href="https://imaguru.by/ru/">RU</a>
            </li>
            <li id="menu-item-27" class="qtranxs-lang-menu-item qtranxs-lang-menu-item-en menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
              <a title="EN" href="https://imaguru.by/en/">EN</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <form role="search" method="get" class="menu__form" action="https://imaguru.by/">
  		<input type="search" class="menu__search" id="search-field" placeholder="Поиск" value="" name="s">
      <!--Language menu  -->
      <div class="lang_menu">
        <ul id="menu-lang-menu" class="lang_menu-list">
          <li id="menu-item-25" class="qtranxs-lang-menu qtranxs-lang-menu-ru menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25">
            <a title="RU" href="#">RU</a>
            <ul class="sub-menu">
              <li id="menu-item-26" class="qtranxs-lang-menu-item qtranxs-lang-menu-item-ru menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
                <a title="RU" href="https://imaguru.by/ru/">RU</a>
              </li>
              <li id="menu-item-27" class="qtranxs-lang-menu-item qtranxs-lang-menu-item-en menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
                <a title="EN" href="https://imaguru.by/en/">EN</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </form>
</header>
