<!--header  -->
<header class="main-header">
  <div class="logo">
    <a href="/" class="logo__link">
      <svg class="logo__picture">
        <use xlink:href="#header-logo"></use>
      </svg>
    </a>
  </div>

  <!--Menu  -->
  <svg class="search-icon">
    <use xlink:href="#search_icon"></use>
  </svg>
  <svg class="menu-icon">
    <use xlink:href="#menu-icon"></use>
  </svg>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu-item current-menu-item"><a href="/about.html">О клубе</a></li>
      <li class="menu-item"><a href="/coworking.html">Коворкинг</a></li>
      <li class="menu-item"><a href="/events.html">Мероприятия</a></li>
      <li class="menu-item menu-item-has-children"><a href="/academy.html">Обучение</a>
        <ul class="sub-menu">
          <a href="#">Coding Academy</a>
          <a href="#">Business Academy</a>
        </ul>
      </li>
      <li class="menu-item"><a href="org-with-us.html">Организуй у нас</a></li>
      <li class="menu-item"><a href="#">Контакты</a></li>
    </ul>
  </nav>
  <form action="none" class="menu__form">
    <input class="menu__search" type="search" placeholder="Поиск">
    
    <div class="lang_menu">
      <ul class="lang_menu-list">
        <li class="menu-item">
          <a href="#">Язык</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="#">RU</a>
            </li>
            <li class="menu-item">
              <a href="#">EN</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <select class="menu__select" name="lang">
      <option value="RU">RU</option>
      <option value="EN">EN</option>
    </select> -->
  </form>
</header>
