<div class="info">
  <div class="info__left">

    <div class="info__adress">
      <span>Минск, ул. Фабрициуса 4</span>
      <span>пн-вс: 08.00 - 22.00</span>
    </div>

    <div class="info__phone">
      <span>+375 29 1 189 189</span>
      <span>+375 29 1 189 989</span>
    </div>

  </div>
  <div class="info__right">
    <a href="mailto:info@imaguru.by" class="info__mail">info@imaguru.by</a>
    <div class="info__social">
      <a href="https://www.facebook.com/imaguruby/" class="info__fb">
        <svg class="info__icon">
          <use xlink:href="#info_fb"></use>
        </svg>
        Facebook
      </a>
      <a href="https://twitter.com/imaguruby/" class="info__tw">
        <svg class="info__icon">
          <use xlink:href="#info_twitter"></use>
        </svg>
        Twitter
      </a>
      <a href="https://www.instagram.com/explore/locations/223977749/" class="info__insta">
        <svg class="info__icon">
          <use xlink:href="#info_insta"></use>
        </svg>
        Instagram
      </a>
    </div>
  </div>
</div>