   <div class="share-widget">
        <h5>Поделиться</h5>
        <ul class="share-widget__list">

          <li class="share-widget__item">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://imaguru.co/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
              <img src="img/widget_fb.svg" alt="" class="share-widget__icon" width="35">
            </a>
          </li>

          <li class="share-widget__item">
            <a href="https://twitter.com/share?url=http://imaguru.co/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
              <img src="img/widget_twitter.svg" alt="" class="share-widget__icon" width="35">
            </a>
          </li>

          <li class="share-widget__item">
            <a href="https://plus.google.com/share?url=http://imaguru.co/&amp;h1='Курсы для детей'" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
              <img src="img/widget_g+.svg" alt="" class="share-widget__icon" width="35">
            </a>
          </li>

          <li class="share-widget__item">
            <a href="https://www.linkedin.com/shareArticle?url=http://imaguru.co/&amp;title='Курсы для детей'&amp;summary='Приводите своих детей на курсы для детей'"  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
              <img src="img/widget_in.svg" alt="" class="share-widget__icon" width="35">
            </a>
          </li>

        </ul>

      </div>