@import "fonts.scss";
@import "slick.scss";
@import "magnific-popup.scss";
@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "buttons.scss";


* {
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 16px;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $section-padding;
  position: relative;
}

.logo {
  display: flex;

  &__picture {
    display: block;
    max-width: 180px;
    height: auto;
  }
}

.menu-icon {
  display: none;
  width: 20px;
  height: 20px;

  background: transparent url("../img/menu-icon.svg") no-repeat;
}

.menu {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 30px 0;
    transition: all 0.3s ease-in;

    &:hover {
      a {
        color: $orange;
      }
    }

    a {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2;
      font-family: Raleway, Arial, sans-serif;
      color: $header-font-color;
      text-decoration: none;
    }

    &--active {
      a {
        color: $orange;
      }
    }

    &--hasDropdown {
      &:hover .menu-dropdown,
      &:active .menu-dropdown {
        display: flex;
      }

      .menu-dropdown a {
        color: $white-color;

        &:hover,
        &:active {
          color: $orange;
        }
      }
    }

    &--margin {
      margin-left: 60px;
      position: relative;
    }
  }

  &__search {
    width: 1.2rem;
    height: 21px;
    background-image: url("../img/search_icon.svg");
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 0.3s ease-in;
    position: absolute;
    border-radius: 0;
    right: 0;
    border: none;
    outline: none;
    font-size: 0;
    z-index: 200;
    cursor: pointer;
    // padding: 10px 5px;
    color: $dark-font-color;

    &:focus {
      width: 700px;
      font-size: 1rem;
      background-color: $white-color;
      border-bottom: 1px solid $dark-font-color;
      cursor: text;
    }
  }

  &__select {
    border: none;
    outline: none;
    font-weight: 600;
    color: $dark-font-color;
    appearance: none;
    opacity: 0.8;
    font-size: 1rem;
  }
}

.menu-dropdown {
  display: none;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 20px 0;
  background-color: $header-font-color;
  color: $white-color;
  width: 100%;
  z-index: 2;

  a {
    color: $white-color;
    font-weight: 300;
    font-size: 1rem;
    margin-right: 30px;
  }
}

.promo {
  padding: 0 $section-padding 60px;
  position: relative;

  background: url("../img/main-bg.jpg") center;
  background-size: cover;

  &--event {
    background: url("../img/event__bg.jpg") center;
    background-size: cover;
  }

  &--events {
    background: url("../img/events_bg.jpg") center;
    background-size: cover;
  }

  &--post {
    background: url("../img/blog__bg.jpg") center;
    background-size: cover;
    padding: 200px $section-padding 30px;
  }

  &--blog {
    background: url("../img/blog__bg.jpg") center;
    background-size: cover;
  }
}


.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 140px;

  font-size: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: $white-color;

  opacity: 0.8;

  &__left,
  &__right {
    flex: 1 1 auto;
    margin-top: 40px;
  }

  &__right {
    text-align: right;
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__mail {
    margin-right: 3.125%;

    font-size: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    color: $white-color;
    text-decoration: none;

    opacity: 0.8;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__lang {
    display: inline-block;
    margin-right: 3.125%;

    font-size: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    vertical-align: top;
    color: $white-color;

    background: transparent;
    border: none;
    outline: none;
    opacity: 0.8;

    appearance: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__share {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;

    vertical-align: top;

    background: transparent url("../img/share.svg") center center no-repeat;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.main-text {
  width: 100%;
  margin-bottom: 140px;

  font-weight: 500;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  &--event {
    margin-bottom: 80px;
  }

  &--post {
    margin-bottom: 170px;
  }


  &--slider {
    margin-bottom: 30px;

    .slick-dots {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      margin-top: 90px;
      padding: 0;

      list-style-type: none;

      button {
        display: block;
        width: 12px;
        height: 12px;
        margin-right: 10px;

        font-size: 0;

        background-color: $white-color;
        border: none;
        border-radius: 50%;
        outline: none;
        opacity: 0.3;
      }
    }

    li.slick-active > button {
      opacity: 0.8;
    }
  }

  &__title {
    margin: 0;
    padding: 0;

    font-size: 0;

    &--event {
      margin-bottom: 20px;

      font-weight: 500;
      font-size: 3.75rem;
    }

    &--events {
      margin-bottom: 30px;

      font-weight: 600;
      font-size: 2.5rem;
    }

    &--post {
      font-size: 2.5rem;
      font-weight: 500;
    }

    &--blog {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 500;
    font-size: 2.5rem;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__date {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-weight: 600;
    font-size: 1.875rem;
    font-family: Raleway, Arial, sans-serif;

    &--blog {
      font-size: 1.25rem;
      font-weight: 600;
      padding-left: 10px;
    }
  }

  .main-text__paragraph {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.2;
    color: $white-color;

    &--event {
      font-weight: 300;
      font-size: 2rem;
      font-family: Raleway, Arial, sans-serif;
    }

    &--events {
      font-weight: 500;
      font-size: 1.875rem;
      font-family: Raleway, Arial, sans-serif;
    }
  }

  .btn:not(:last-child) {
    margin-right: 3.9%;
  }

  &__descr {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  &__category {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 15px;
    border-right: 1px solid $white-color;
  }
}

.features {
  width: 100%;

  text-align: center;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    position: relative;

    flex-basis: 20%;
    margin-bottom: 20px;
    padding-top: 80px;

    opacity: 0.5;

    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    a {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.2;
      font-family: Raleway, Arial, sans-serif;
      color: $white-color;
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;

      display: block;
      width: 64px;
      height: 64px;

      background: url("../img/sprite.png") no-repeat;
      background-position: -64px -64px;
      transform: translateX(-50%);
    }

    &--begginer {
      &::before {
        background-position: -65px 0;
      }
    }

    &--devs {
      &::before {
        background-position: 0 0;
      }
    }

    &--owners {
      &::before {
        background-position: -129px 0;
      }
    }

    &--corps {
      &::before {
        background-position: 0 -64px;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 10;

  &--blog {
    display: block;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.content-block {
  position: relative;

  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding: 80px 9.375% 160px;

  font-weight: 500;
  font-family: Raleway, Arial, sans-serif;
  color: $white-color;

  background-color: $orange;

  &--white {
    color: $orange;

    background-color: $white-color;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  .btn {
    position: absolute;
    bottom: 15.2%;
  }
}

// использовал float для совестимости с ie
.slider {
  width: 100%;

  color: $dark-font-color;

  &__slide {
    display: block !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      content: "";

      display: table;
      clear: both;
    }
  }

  &__text {
    float: left;
    width: 50%;
    padding: 75px $section-padding;

    font-weight: 300;
    font-family: Raleway, Arial, sans-serif;
  }

  &__image {
    float: right;
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
    color: $dark-font-color;
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.2;
  }

  .slick-dots {
    position: absolute;
    top: 50%;
    left: 4%;

    display: block;
    margin: 0;
    padding: 0;

    list-style: none;

    transform: translateY(-50%);

    button {
      display: block;
      width: 10px;
      height: 10px;
      margin-bottom: 10px;

      font-size: 0;

      background-color: $orange;
      border: none;
      border-radius: 50%;
      outline: none;
      opacity: 0.5;
    }
  }

  .slick-active > button {
    opacity: 1;
  }

  &--right {
    .slick-dots {
      position: absolute;
      top: 50%;
      left: 96%;

      display: block;
      margin: 0;
      padding: 0;

      list-style: none;

      transform: translateY(-50%);
    }

    .slider__text {
      float: right;
    }

    .slider__image {
      float: left;
    }
  }
}

.slick-vertical .slick-slide {
  border: none;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: $white-color;

  &__item {
    flex: 1 1 30%;
    padding: 60px 4.6875%;

    background-color: $blue;

    &:nth-child(2n+1) {
      order: 2;

      background-color: $orange;
    }

    &--courses {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__date {
    display: inline-block;
    padding-right: 5px;

    font-size: 1rem;
    line-height: 1.2;

    border-right: 1px solid $white-color;

    &--post {
      border-right: none;
      font-weight: 300;
      font-size: 1.25rem;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
  }

  &__category {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 0;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
    text-transform: capitalize;

    &--post {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $orange;
    opacity: 0.7;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Raleway, Arial, sans-serif;
    color: $white-color;
    text-decoration: none;
    display: block;

    &--courses {
      margin-bottom: 30px;

      font-weight: 600;
      font-size: 1.875rem;
      font-family: Raleway, Arial, sans-serif;
      text-transform: uppercase;
    }

    &--post {
      font-weight: 600;
      margin-bottom: 40px;
    }
  }

  &__coursedate {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;

    font-weight: 400;
    font-size: 1.875rem;
  }

  &__price {
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 1.875rem;
    font-family: Raleway, Arial, sans-serif;
  }


  &--events {
    .posts__item {
      position: relative;
      z-index: 1;

      display: flex;
      flex: 1 1 30%;
      justify-content: center;
      align-items: center;
      min-height: 320px;

      font-weight: 600;
      font-family: Raleway, Arial, sans-serif;
      text-align: center;

      background: transparent url("../img/events-img2.jpg") no-repeat;
      background-position: 44% 40%;

      &:nth-child(2n+1) {
        order: 2;
      }

      &--summit {
        background: transparent url("../img/events-img1.jpg") no-repeat;
        background-position: 65% 10%;

        .posts__overlay {
          background-color: $blue;
        }
      }

      .posts__content {
        position: relative;
        z-index: 10;
      }

      .posts__title {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        font-weight: 600;
        font-size: 1.885rem;
        line-height: 1.5;
        text-transform: uppercase;
      }

      .posts__subtitle {
        margin: 0;
        padding: 0;

        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.8;
        text-transform: uppercase;
      }
    }
  }
}

.preview {
  position: relative;
  z-index: 1;

  flex: 1 1 30%;
  order: 1;
  padding: 125px 0;

  text-align: center;

  background: $dark-font-color url("../img/news-img.jpg") center no-repeat;

  &--events {
    background: $dark-font-color url("../img/events-img3.jpg") center no-repeat;
    background-size: cover;
  }

  &--courses {
    background: $dark-font-color url("../img/courses__bg.jpg") center no-repeat;
    background-size: cover;
  }

  &--events-gallery {
    padding: 0;

    background: none;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: relative;
    z-index: 3;

    &--gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-weight: 600;
    font-size: 1.875rem;
    line-height: 1.5;
    font-family: Raleway, Arial, sans-serif;
    text-transform: uppercase;
  }
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7.03125%;

  color: $orange;

  background-color: $grey;

  &__text {
    flex: 1 0 50%;
    margin: 0;
    margin-right: 40px;
    padding: 0;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
  }

  &__form {
    flex: 1 0 50%;

    input {
      display: inline-block;
      width: 50%;
      margin-right: 40px;

      vertical-align: middle;

      background-color: transparent;
      border: none;
      border-bottom: 2px solid $orange;
      border-radius: 0;
      outline: none;
    }

    .btn {
      display: inline-block;
      margin-bottom: 0;
      padding: 12px 30px;

      vertical-align: baseline;

      background: none;
    }
  }
}

.coworkers {
  padding: 55px 9.375%;

  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1;
    font-family: Raleway, Arial, sans-serif;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    flex: 0 0 25%;
    margin-bottom: 20px;

    text-align: center;

    img {
      max-width: 100%;
    }
  }
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__left,
  &__right {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
  }
}

.video {
  position: relative;

  flex: 1 1 57%;
  min-height: 180px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
  }
}

.social {
  flex: 1 1 auto;
  padding: 75px 12.5%;

  color: $white-color;

  background-color: $blue;

  &--events {
    padding-top: 50px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 15px;

    background: url("../img/fb.svg") no-repeat;
    background-size: cover;

    &--tw {
      background: url("../img/tw.svg") no-repeat;
    }

    &--insta {
      background: url("../img/insta.svg") no-repeat;
    }

    &--in {
      background: url("../img/linked.svg") no-repeat;
    }
  }
}

.contact-form {
  padding: 60px 11.71875%;

  font-weight: 300;
  font-family: Raleway, Arial, sans-serif;
  color: $dark-font-color;

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.2;
  }

  input {
    display: block;
    width: 68.75%;
    margin-bottom: 40px;
    padding: 5px 0;

    border: none;
    border-bottom: 2px solid $grey;
    border-radius: 0;
    outline: none;

    transition: all 0.5s;

    &:focus {
      border-bottom: 2px solid $orange;
    }
  }

  .btn {
    margin-bottom: 0;
    padding: 12px 40px;

    background: none;
  }
}

.welcome {
  padding: 50px 11.71875%;

  color: $white-color;

  background-color: $orange;

  &--half {
    flex-basis: 50%;
  }

  &--post {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 150px;

    .btn {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
  }

  p {
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
  }
}


.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 70px 14.453125%;
  position: relative;
  z-index: 2;

  font-weight: 300;
  font-family: Raleway, Arial, sans-serif;
  color: $white-color;

  background-color: $footer-bg;

  &__left,
  &__right {
    flex: 1 0 auto;
  }

  &__right {
    display: flex;
    justify-content: center;
  }
}

.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2;
  }

  input {
    width: 66.4%;
    margin-bottom: 25px;
    padding: 4px 0;

    font-size: 1rem;
    line-height: 1.2;
    color: $grey;

    background: none;
    border: none;
    border-bottom: 2px solid $grey;
    border-radius: 0;
    outline: none;
  }

  .btn {
    padding: 7px 20px;

    font-weight: 600;
    font-family: Raleway;
  }
}

.footer-menu {
  margin-right: 60px;

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    font-size: 0.875rem;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.footer-social {
  @extend .footer-menu__list;

  &__item {
    @extend .footer-menu__item;
  }

  a {
    @extend .footer-menu__link;
  }
}

.event-data {
  display: flex;
  justify-content: space-between;
  padding: 40px $section-padding;

  font-size: 1.25rem;
  color: $dark-font-color;

  background-color: $grey +7;

  span {
    &::before {
      content: "";

      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 15px;

      background-repeat: no-repeat;
    }
  }

  &__date {
    &::before {
      background: url("../img/calendar.svg");
    }
  }

  &__time {
    &::before {
      background: url("../img/clock.svg");
    }
  }

  &__place {
    &::before {
      background: url("../img/map-marker.svg");
    }
  }

  &__price {
    color: $orange;

    &::before {
      background: url("../img/ticket.svg");
    }
  }
}

.event-descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px $section-padding;

  color: $dark-font-color;

  p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 400;
    font-size: 1.875rem;
  }

  &__meta {
    display: flex;
    margin-bottom: 40px;
  }

  &__categories {
    margin-right: 18.98%;

    span {
      font-size: 1rem;
      color: $orange;
    }

    span:not(:last-child) {
      &::after {
        content: "";

        display: inline-block;
        width: 2px;
        height: 15px;
        margin: 0 10px;

        vertical-align: middle;

        background-color: $grey;
      }
    }
  }

  &__organizer {
    strong {
      font-weight: 600;
    }
  }

  &__timetable {
    p {
      margin-bottom: 0;

      font-size: 1rem;
    }
  }
}

.share-widget {
  flex: 0 0 10%;
  max-height: 300px;
  margin-right: 3.90635%;
  padding: 20px 10px;

  text-align: center;

  background-color: $grey;

  h5 {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-weight: 500;
    font-size: 1rem;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-bottom: 20px;
  }
}


.speakers {
  padding: 70px $section-padding;

  color: $dark-font-color;

  background-color: $grey + 7;

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style: none;
    text-align: center;
  }

  &__item {
    flex-basis: 25%;
  }

  &__img {
    width: 120px;
    max-width: 100%;
    margin-bottom: 25px;

    border-radius: 50%;
  }

  &__name {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 600;
    font-size: 1rem;
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-weight: 400;
    font-size: 1rem;
  }
}


.event-register {
  padding: 70px $section-padding;

  text-align: center;
  color: $dark-font-color;

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 400;
    font-size: 1.875rem;
  }

  &__form {
    width: 37.5%;
    margin: 0 auto;

    text-align: center;

    input {
      display: block;
      width: 100%;
      margin-bottom: 35px;
      padding: 5px 0;

      border: none;
      border-bottom: 1px solid $dark-font-color;
      border-radius: 0;
      outline: none;

      transition: all 0.3s ease-in;

      &:focus {
        border-bottom: 1px solid $orange;
      }
    }

    .btn {
      margin-top: 60px;
      padding: 15px 50px;
    }
  }
}

.event-video {
  h2 {
    margin: 70px 20px 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: 600px;

    border: none;
  }
}

.event-gallery {
  h2 {
    margin: 70px 20px 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 20%;

    img {
      width: 100%;
      margin-bottom: -4px;
    }
  }

  &__more {
    display: flex;
    flex: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1rem;
    font-family: Raleway;
    color: $white-color;
    text-decoration: none;

    background-color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

// magnificPopup animations
.mfp-fade.mfp-bg {
  opacity: 0;

  transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  transform: scale(0);
  opacity: 0;

  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  transform: scale(1);
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.events-info {
  display: flex;
  flex-wrap: wrap;

  &__left {
    flex-basis: 47%;
  }

  &__right {
    flex-basis: 53%;
  }
}

// calendar

.events-calendar {
  background-color: $grey + 4;

  ul {
    margin: 0;

    list-style-type: none;
  }

  &__month {
    width: 100%;
    padding: 70px 10% 30px;

    ul {
      padding: 0;
    }

    li {
      font-size: 1.875rem;
      color: $dark-font-color;
      text-transform: uppercase;
    }

    .month-name {
      text-align: center;
    }

    .prev {
      float: left;
    }

    .next {
      float: right;
    }
  }

  &__weekdays {
    padding: 10px 10%;
    padding-bottom: 30px;

    li {
      display: inline-block;
      width: 12.6%;

      font-size: 1.5rem;
      text-align: center;
      color: rgba($dark-font-color, 0.5);
    }
  }

  &__days {
    margin: 0;
    padding: 10px 10%;

    li {
      display: inline-block;
      width: 12.6%;
      margin-bottom: 40px;

      list-style-type: none;
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
      color: rgba($dark-font-color, 0.8);

      .active {
        padding: 5px;

        color: white !important;

        background: $orange;
        opacity: 1;
      }

      &.hasEvent {
        color: $orange;
      }
    }
  }
}

.events-meta {
  padding: 50px 10%;

  &--themes {
    padding-top: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 500;
    font-size: 1.875rem;
    text-align: left;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
    column-count: 2;
  }

  &__item {
    margin-bottom: 15px;

    a {
      font-weight: 300;
      font-size: 1.25rem;
      color: $dark-font-color;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &.today {
        font-weight: 600;
        color: $orange;
      }
    }
  }
}

.events-timetable {
  padding: 40px 8.5%;

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;

    &[data-type="entrepreneur"] {
      border-left: 3px solid $green;
    }

    &[data-type="meetup"],
    &[data-type="course"],
    &[data-type="startup"] {
      border-left: 3px solid $orange;
    }

    &[data-type="it"] {
      border-left: 3px solid $blue;
    }
  }

  &__time {
    flex: 0 0 auto;
    padding: 10px 3.5%;

    font-family: "Open Sans", Arial, sans-serif;

    p {
      margin: 0;
      padding: 0;

      font-weight: 600;
      font-size: 1rem;
    }
  }

  &__info {
    flex: 0 1 auto;
    padding: 10px 3.5%;
  }

  &__category {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  &__category-item {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
    color: $dark-font-color;
    text-decoration: none;

    &:not(:last-child) {
      &::after {
        content: "";

        display: inline-block;
        width: 2px;
        height: 20px;
        margin: 0 10px;

        vertical-align: top;

        background-color: $dark-font-color;
      }
    }

    &[data-category="entrepreneur"] {
      color: $green;
    }

    &[data-category="masterclass"],
    &[data-category="meetup"],
    &[data-category="course"],
    &[data-category="startup"] {
      color: $orange;
    }

    &[data-category="it"] {
      color: $blue;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Raleway, Arial, sans-serif;
    color: $dark-font-color;
    text-decoration: none;
  }

  &__more {
    display: block;

    font-weight: 700;
    text-align: center;
    color: $orange;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.events-slider {
  padding-top: 80px;

  &__title {
    padding: 0 10px;

    font-weight: 300;
    font-size: 1.875rem;
    text-align: center;
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 100;

    display: block;
    width: 20px;
    height: 20px;

    font-size: 0;

    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    outline: none;
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
  }

  & .slick-next {
    left: 96%;

    transform: translateY(-50%) rotate(-135deg);
  }
}

.post-data {
  display: flex;
  justify-content: space-between;

  &__category {
    a {
      color: $white-color;
      font-weight: 300;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        &::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 1px;
          height: 1rem;
          background-color: $white-color;
          margin-left: 5px;
        }
      }
    }
  }

  &__info {
    color: $white-color;
    font-size: 1rem;
    font-weight: 300;
  }

  &__date {
    margin-right: 10px;
  }

}

.post-content {
  display: flex;
  flex-wrap: wrap;
  padding: 80px $section-padding;

  &__text {
    flex: 0 0 85%;
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__image {
    max-width: 100%;
    margin-bottom: 80px;
  }
}

.comments {

  text-align: center;
  background-color: $grey;
  color: $dark-font-color;

  &__wrapper {
    padding: 45px $section-padding;
    background-color: $grey;

    &--white {
      background-color: $white-color;
    }
  }

  &__form {
    margin-top: 70px;
    text-align: center;
    display: none;

    input {
      display: block;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid $dark-font-color;
      margin-bottom: 40px;
      padding: 5px 10px;
      outline: none;
      transition: all 0.3s ease-in;
      border-radius: 0;

      &:focus {
        border-bottom: 1px solid $orange;
      }
    }
  }

  &__count {
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 80px;
    padding-left: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    background: $white-color;
  }

  &__item {
    padding: 30px 20px;

    &:not(:last-child) {
      border-bottom: 2px solid $grey;
    }
  }

  &__author {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 1.25rem;
    margin-right: 15px;
  }

  &__reply {
    color: $dark-font-color;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 10px;
      background: url("../img/reply_icon.svg");
      margin-right: 10px;
    }
  }
}

.blog-latest {
  float: left;
  width: 50%;
  color: $white-color;
  position: relative;

  &--column {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
  }

  &__item {
    position: relative;
    height: 100%;
    z-index: 1000000;
  }

  &__image {
    width: 100%;
    display: block;
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 55px 8.59375% 50px;
    width: 100%;
    height: 100%;
    background-color: rgba($blue, 0.8);

    &--orange {
      background-color: rgba($orange, 0.8);
    }

    &-light-blue {
      background-color: rgba($light-blue, 0.8);
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 26px;
  }

  &__descr {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  &__category {
    font-size: 1.25rem;
    font-weight: 300;
    padding-right: 5px;
    border-right: 1px solid $white-color;
  }

  &__date {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__text {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  &__more {
    color: $white-color;
    font-size: 1rem;
    font-weight: 700;
  }
}

.blog-archive {
  position: relative;

  &--hidden {
    height: 0;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 0;
    padding: 60px 0 60px 4.6875%;
    position: relative;
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__slide {
    flex: 1 0 30%;
    position: relative;

    img {
      width: 100%;
      display: block;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 14.05%;
    color: $white-color;
    flex-direction: column;
    background-color: rgba(#000000, 0.7);

    &--subscribe {
      background-color: $blue;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 30px;
    color: $white-color;
    text-decoration: none;
    width: 100%;// fix for ie

    &--subscribe {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  &__info {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__category {
    padding-right: 10px;
    border-right: 1px solid $white-color;
  }

  &__subscribe {
    color: $white-color;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .slick-arrow {
    display: block;
    background: none;
    border: none;
    font-size: 0;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-right: 1px solid $white-color;
    border-bottom: 1px solid $white-color;
    transform: translateY(-50%) rotate(-225deg);
    top: 50%;
    left: 1%;
    outline: none;
    cursor: pointer;
  }

  .slick-next {
    display: block;
    left: 95%;
    transform: translateY(-50%) rotate(-45deg);
  }

  &__more {
    text-align: center;
    display: block;
    padding: 70px 0;
    color: $orange;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid $orange;
      border-right: 3px solid $orange;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.blog-subscribe {
  text-align: center;
  padding: 70px 0 50px;
  background-color: $grey;
  position: relative;
  display: none;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-color: $grey;
    transform: rotate(-45deg);
    position: absolute;
    top: -2.5%;
    right: 15%;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__form {
    display: block;
    width: 23.4375%;
    margin: 0 auto;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $dark-font-color;
      border-radius: 0;
      display: block;
      width: 100%;
      padding: 5px 0;
      margin-bottom: 60px;
      transition: all 0.3s ease-in;
      outline: none;

      &:focus {
        border-bottom: 1px solid $orange;
      }
    }
  }
}



@import "media.scss";
