.banner {
  background-color: $red;
  padding: 60px $section-padding;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__text {
    font-size: 2rem;
    font-weight: 400;
    color: $white-color;
    flex: 0 0 60%;
    margin: 0;
    padding: 0;

    h3 {
      font-size: 1.875rem;
      text-align: center;
      font-weight: 400;
      margin: 0;
      margin-bottom: .8em;
      b {
        font-weight: 600;
      }
    }

    p {
      font-size: 1.125rem;
      line-height: 1.4;
    }
  }

  &--blue {
    background-color: $blue;
  }

  &--red {
    background-color: $red;
  }

  &--grey {
    background-color: $grey;

    .banner__text {
      color: $dark-font-color;
    }

  }

  &--for-startups {
    text-align: center;
    .banner__text {
      margin-bottom: 0;
      flex: 0 0 25em;
    }
  }

  .btn {
    // font-size: 2rem;
    // padding: 20px 40px;
  }
}

@media only screen  and (max-width: 980px) {
  .banner {
    flex-direction: column;
    min-height: 400px;

    &__text {
      flex: 0 0 100%;
      margin-bottom: 50px;
      text-align: center;
    }

    &--for-startups {
      min-height: auto;
      flex-direction: row;
      .banner__text {
        flex: 0 0 100%;
      }
    }
  }

}
