.blog-latest {
  position: relative;
  display: flex;
  width: 50%;

  color: $white-color;

  &--column {
    display: flex;
    flex-direction: column;

    -webkit-box-orient: vertical;

    .blog-latest__item {
      .blog-latest__overlay {
        background-color: rgba($orange, 0.8);
      }

      &:nth-child(2n) {
        .blog-latest__overlay {
          background-color: rgba($light-blue, 0.8);
        }
      }
    }
  }

  &__item {
    position: relative;
    z-index: 1000000;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center top;
  }

  &__image {
    position: relative;

    display: block;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 55px 8.59375% 50px;

    background-color: rgba($blue, 0.8);
  }

  &__title {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    font-weight: 600;
    font-size: 2rem;
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  &__date {
    font-weight: 300;
    font-size: 1.25rem;
  }

  &__text {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 300;
    font-size: 1.3rem;
  }

  &__more {
    font-weight: 700;
    font-size: 1rem;
    color: $white-color;
  }
}


// ******* MEDIA *************
@media only screen and (max-width: 1024px) {
  .blog-latest {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .blog-latest {
    &--column {
      flex-direction: row;
    }

    &__item {
      min-height: 300px;

      &--high {
        min-height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .blog-latest {
    &--column {
      display: block;
      width: 100%;

      .blog-latest__item {
        float: none;
        width: 100%;
      }
    }

    &__item {
      float: none;
      width: 100%;

      &--high {
        min-height: 600px;
      }
    }

    &__title {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 1.3rem;
    }
  }
}
