.blog-latest {
  display: flex;
  width: 50%;

  color: $white-color;

  &--column {
    flex-direction: column;

    -webkit-box-orient: vertical;
  }

  &__item {
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center top;
    flex: 1;
    padding: 40px 10%;
  }

  &__title {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    font-weight: 600;
    font-size: 2rem;
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  &__date {
    font-weight: 300;
    font-size: 1.25rem;
  }

  &__text {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 300;
    font-size: 1.3rem;
  }

  &__more {
    font-weight: 700;
    font-size: 1rem;
    color: $white-color;
  }
}


// ******* MEDIA *************
@media only screen and (max-width: 1024px) {
  .blog-latest {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .blog-latest {
    &--column {
      flex-direction: row;
      }
    }
  }

@media only screen and (max-width: 480px) {
  .blog-latest {
    &--column {
      display: block;
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__text {
      font-size: 1.3rem;
    }
  }
}
