button {
  background-color: transparent;

  &:active,
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  color: $white-color;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  padding: 20px 40px;
  border: 3px solid $white-color;
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 20px;
  // background: none;

  cursor: pointer;
  transition: all 0.3s ease-in;


  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    background-color: $white-color;
    color: $dark-font-color;
  }

  &:active {
    transform: scale(0.97);
  }

  &--orange {
    color: $orange;
    border: 3px solid $orange;

    &:hover {
      background-color: $orange;
      color: $white-color !important;
    }
  }

  &--blue {
    color: $blue;
    border: 3px solid $blue;

    &:hover {
      background-color: $blue;
      color: $white-color;
    }
  }

  &--green {
    color: $light-green;
    border: 3px solid $light-green;

    &:hover {
      background-color: $light-green;
      color: $white-color;
    }
  }

  &--yellow {
    color: $yellow;
    border: 3px solid $yellow;

    &:hover {
      background-color: $yellow;
      color: $orange;
    }
  }

  &--orange-bg {
    background: $orange;
    color: $white-color;
    border-radius: 5px;
    border: none;
  }

  &--white-bg {
    background-color: $white-color;
    color: $blue;
  }

  .promo &,
  .main-footer & {
    &:hover {
      background-color: $white-color;
      text-decoration: none;
      color: $dark-font-color;
    }
  }

  .course-registration .course-registration-form & {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 480px) {
    padding: 15px 30px;
  }
}
