$blue-info: #4665bb;
$red-info: #f05030;
$grey-bg-color: #f2f2f2;



.colored-info-box {
	position: relative;

	padding: 4rem 0;
	font-size: 1em;
	background-color: #fff;

	.container {
		height: 100%;
		width: 75%;
		position: relative;
		margin: 0 auto;
	}

	&__title {
		margin: 0 0 2.5em;
		padding: 0;

		h2,
		h3,
		h4 {
			font-weight: 400;
			margin: 0;
		}

		h2 {
			font-size:  1.875em;
			margin-bottom: .2em;
		}

		h3 {
			font-size: 1.5em;
		}

		h4 {
			font-size: 1.2em;
		}

		&--org {
			margin: 0 0 1em;
		}

		.how-long {
			font-size: 1em;
			vertical-align: middle;
			&:before {
				content: '';
				display: inline-block;
				height: 1em;
				width: 1em;
				margin-right: .5em;
				vertical-align: middle;
				background: url("../img/clock.svg");
			}
		}

	}

	&__description {
		max-width: 45em;
		ul,
		p {
			margin: 0;
			font-size: 1.15em;
			line-height: 1.4;
		}
		p:not(:first-child) {
			margin: 1em 0 0;
		}
		ul {
			padding-left: 1em;
			li {
				padding: .4em 0;
			}
		}
	}

	&__data-info {
		margin-top: 1.5em;
		font-size: .9m;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				padding: .2em .35em;
			}
		}
	}

	.btn {
		margin: 2.5em 0 0;
		display: inline-block;
		color: $red-info;
		font-weight: 700;
		font-size: 1em;
		line-height: 1.2;
		padding: .7em 2em;
		border: 3px solid $red-info;
		border-radius: 3px;
		text-decoration: none;
		outline: none;

		&:hover {
			background-color: $red-info;
			color: #fff;
		}

		&:active {
			transform: scale(.97);
		}
	}

	&--hidden{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 1em !important;
		&._show {
			display: block;
		}
		.close-button {
			border: 0;
			background-color: transparent;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			width: 1em;
			height: 1em;
			cursor: pointer;
			background: url(../img/close.svg) 50% 50% no-repeat;
			background-size: 100%;
		}
	}

	&--blue,
	&--red,
	&--promo-text {
		::selection {
			background-color: #fff;
			color: #000;
		}
		.btn {
			color: #fff;
			border-color: #fff;
			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}

	&--blue {
		color: #fff;
		background-color: $blue-info;

		.btn {
			&:hover {
				color: $blue-info;
			}
		}
	}

	&--red {
		color: #fff;
		background-color: $red-info;
		.btn {
			&:hover {
				color: $red-info;
			}
		}
	}

	&--grey {
		background-color: $grey-bg-color;
	}

	&--image-bg {
		background-repeat: none;
		background-size: cover;
	}

	&--no-padding {
		padding: 0;
	}

	&--promo-text {
		background-color: transparent;
		color: #fff;
		padding-bottom: 0;
		.btn {
			padding: .5em 3em;
		}
		.colored-info-box__title {
			h2 {
				font-size: 2.3em;
				text-align: center;
			}
		}

		.colored-info-box__description {
			margin: 0 auto;
			form {
			}
			p {
				font-size: 1.5em;
				text-align: center;
				margin-bottom: 1em;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.colored-info-box {

		.container {
			width: 83%;
		}
	}
	.flex-container-50-50__element.colored-info-box {
		.container {
			width: 66%;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.colored-info-box {
		font-size: 1em;
	}
}

@media only screen and (min-width: 1300px) {
	.colored-info-box {
		font-size: 1.15em;
	}
}

@media only screen and (min-width: 1500px) {
	.colored-info-box {
		font-size: 1.30em;
	}
}

@media only screen and (min-width: 1700px) {
	.colored-info-box {
		font-size: 1.45em;
	}
}

@media only screen and (min-width: 1900px) {
	.colored-info-box {
		font-size: 1.60em;
	}
}

@media only screen and (min-width: 2000px) {
	.colored-info-box {
		font-size: 1.75em;
	}
}