
.colored-info-box {
  position: relative;

  padding: 4rem 0;

  font-size: 1em;

  background-color: #ffffff;

  .container {
    position: relative;

    width: 75%;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 2.5em;
    padding: 0;

    h2,
    h3,
    h4 {
      margin: 0;

      font-weight: 400;
    }

    h2 {
      margin-bottom: 0.2em;

      font-size: 1.875em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1.2em;
    }

    &--org {
      margin: 0 0 1em;
    }

    .how-long {
      font-size: 1em;
      vertical-align: middle;

      &::before {
        content: "";

        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;

        vertical-align: middle;

        background: url("../img/clock.svg");
      }
    }
  }

  &__description {
    max-width: 45em;

    ul,
    p {
      margin: 0;

      font-size: 1.15em;
      line-height: 1.4;
    }

    p:not(:first-child) {
      margin: 1em 0 0;
    }

    ul {
      padding-left: 1em;

      li {
        padding: 0.4em 0;
      }
    }
  }

  &__data-info {
    margin-top: 1.5em;

    font-size: 0.9rem;

    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      li {
        display: inline-block;
        padding: 0.2em 0.35em;
      }
    }
  }

  .btn {
    display: inline-block;
    margin: 2.5em 0 0;
    padding: 0.7em 2em;

    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    color: $orange;
    text-decoration: none;

    border: 3px solid $orange;
    border-radius: 3px;
    outline: none;

    &:hover {
      color: #ffffff;

      background-color: $orange;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &--hidden {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    font-size: 1em !important;

    &._show {
      display: block;
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;

      width: 1em;
      height: 1em;
      padding: 0;

      background: url("../img/close.svg") 50% 50% no-repeat;
      background-color: transparent;
      background-size: 100%;
      border: 0;
      cursor: pointer;
    }
  }

  &--blue,
  &--red,
  &--promo-text {
    ::selection {
      color: #000000;

      background-color: #ffffff;
    }

    .btn {
      color: #ffffff;

      border-color: #ffffff;

      &:hover {
        color: #000000;

        background-color: #ffffff;
      }
    }
  }

  &--blue {
    color: #ffffff;

    background-color: $blue;

    .btn {
      &:hover {
        color: $blue;
      }
    }
  }

  &--red {
    color: #ffffff;

    background-color: $orange;

    .btn {
      &:hover {
        color: $orange;
      }
    }
  }

  &--grey {
    background-color: $grey;
  }

  &--image-bg {
    background-repeat: none;
    background-size: cover;
  }

  &--no-padding {
    padding: 0;
  }

  &--promo-text {
    padding-bottom: 0;

    color: #ffffff;

    background-color: transparent;

    .btn {
      padding: 0.5em 3em;
    }

    .colored-info-box__title {
      h2 {
        font-size: 2.3em;
        text-align: center;
      }
    }

    .colored-info-box__description {
      margin: 0 auto;

      p {
        margin-bottom: 1em;

        font-size: 1.5em;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .colored-info-box {
    .container {
      width: 83%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .colored-info-box {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1300px) {
  .colored-info-box {
    font-size: 1.15em;
  }
}

@media only screen and (min-width: 1500px) {
  .colored-info-box {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1700px) {
  .colored-info-box {
    font-size: 1.45em;
  }
}

@media only screen and (min-width: 1900px) {
  .colored-info-box {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 2000px) {
  .colored-info-box {
    font-size: 1.75em;
  }
}
