.colored-info-box {
  position: relative;

  padding: 4rem 0;

  font-size: 1em;

  background-color: #ffffff;

  &--promo-text {
    padding: 0;
    padding-bottom: 0;

    color: #ffffff;

    background-color: transparent;

    .btn {
      padding: 0.5em 3em;
    }

    .colored-info-box__title {
      h2 {
        font-size: 2.3em;
        text-align: center;
      }
    }

    .colored-info-box__title--inline__item {
      font-family: "Open Sans", Arial, sans-serif;
    }

    .colored-info-box__description {
      margin: 0 auto;

      p {
        margin-bottom: 1em;

        font-size: 1.5em;
        text-align: left;
      }
    }
  }

  .container {
    position: relative;

    width: 75%;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 2.5em;
    padding: 0;

    h2,
    h3,
    h4 {
      margin: 0;

      font-weight: 400;
    }

    h2 {
      margin-bottom: 0.2em;

      font-size: 1.875em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1.2em;
    }

    &--org {
      margin: 0 0 1em;
    }

    .how-long {
      font-size: 1em;
      vertical-align: middle;

      &::before {
        content: "";

        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;

        vertical-align: middle;

        background-image: url("data:image/svg+xml,%3Csvg id='Слой_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.9 14.9'%3E%3Cstyle%3E.st0%7Bfill:%23f34f30%7D%3C/style%3E%3Cpath id='Event' class='st0' d='M7.6 2.4h-.8l-.3 5.1.1.5 3.8 3.4.6-.6-3.1-3.4-.3-5zm-.1 11.3c-3.4 0-6.2-2.8-6.2-6.2C1.3 4 4 1.2 7.5 1.3c3.4 0 6.2 2.8 6.2 6.2s-2.8 6.2-6.2 6.2zM7.5 0C3.3 0 0 3.3 0 7.5S3.3 15 7.5 15 15 11.7 15 7.5 11.6 0 7.5 0z'/%3E%3C/svg%3E");
      }
    }
  }

  &__description {
    // max-width: 45em;
    margin-bottom: 40px;

    ul,
    p {
      margin: 0;

      font-size: 1.25rem;
      line-height: 1.4;
      text-align: left;
    }

    p:not(:first-child) {
      margin: 1em 0 0;
    }

    ul {
      padding-left: 1em;

      li {
        padding: 0.4em 0;
      }
    }
  }

  &__data-info {
    margin-top: 1.5em;

    font-size: 1.1rem;

    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      li {
        padding: 0.2em 0.35em;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

    }
  }

  .btn {
    display: inline-block;
    margin: 2.5em 0 0;
    padding: 0.7em 2em;

    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    color: $orange;
    text-decoration: none;

    border: 3px solid $orange;
    border-radius: 3px;
    outline: none;

    &:hover {
      color: #ffffff;

      background-color: $orange;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &--hidden {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    font-size: 1em !important;

    &._show {
      display: block;
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;

      width: 1em;
      height: 1em;
      padding: 0;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.71 16.71'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EРесурс 2%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cline class='cls-1' x1='0.35' y1='0.35' x2='16.35' y2='16.35'/%3E%3Cline class='cls-1' x1='0.35' y1='16.35' x2='16.35' y2='0.35'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 100%;
      border: 0;
      cursor: pointer;
    }
  }

  &--blue,
  &--red,
  &--promo-text {
    ::selection {
      color: #000000;

      background-color: #ffffff;
    }

    .btn {
      color: #ffffff;

      border-color: #ffffff;

      &:hover {
        color: #000000;

        background-color: #ffffff;
      }
    }
  }

  &--promo-text {
    flex: 1;
  }

  &--blue {
    color: #ffffff;

    background-color: $blue;

    .btn {
      &:hover {
        color: $blue;
      }
    }
  }

  &--red {
    color: #ffffff;

    background-color: $orange;

    .btn {
      &:hover {
        color: $orange;
      }
    }
  }

  &--grey {
    background-color: $grey;
  }

  &--image-bg {
    background-repeat: none;
    background-size: cover;
  }

  &--no-padding {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .colored-info-box--promo-text {
    .colored-info-box__title {
      h2 {
        font-size: 1.8rem;
      }
    }

    .colored-info-box__description {
      p {
        font-size: 1.2rem;
      }
    }
  }

  .colored-info-box__title h3 {
    font-size: 1.8rem;
  }

  .catering-promotion .colored-info-box__description p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .colored-info-box {
    .container {
      width: 83%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .colored-info-box {
    font-size: 1em;
  }
}
