.company {
  background-color: $grey;

  &__title {
    margin: 0;
    padding: 60px 0;
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
  }

  & .row:nth-child(2n+2) {
    .content-block--image,
    .vacancy {
      order: 2;
    }
  }
}

@media only screen and (max-width: 768px) {
  .company {
    & .row {
      display: block;
    }
  }
}
