.coworkers {
  padding: 55px 9.375%;

  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1;
    font-family: Raleway, Arial, sans-serif;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    .slick-arrow {
      border-bottom: 2px solid $dark-font-color;
      border-left: 2px solid $dark-font-color;
    }

    .slick-prev {
      left: -3%;
    }

    .slick-next {
      left: 98%;
    }
  }

  &__item {
    margin-bottom: 20px;
    height: 100%;

    text-align: center;

    img {
      width: 100%;
      max-width: 150px;
      margin: auto;
    }
  }
}

// ********* MEDIA ***************

@media only screen and (max-width: 640px) {
  .coworkers {
    &__list {
      .slick-prev {
        left: -5%;
      }

      .slick-next {
        left: 96%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .coworkers {
    &__list {
      .slick-prev {
        left: -6%;
      }

      .slick-next {
        left: 94%;
      }
    }
  }
}
