.event-descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px $section-padding;

  color: $dark-font-color;

  &__content {
    flex: 1 1 auto;

    a {
      color: $orange;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    ul {
      font-size: 1.25rem;

      li {
        padding: 10px 5px;
      }
    }
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 400;
    font-size: 1.875rem;
  }

  &__meta {
    display: flex;
    margin-bottom: 40px;
  }

  &__categories {
    margin-right: 18.98%;
    font-size: 0;

    span {
      font-size: 1rem;
      color: $orange;
    }

    a {
      font-size: 1rem;
      color: $orange;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    a:not(:last-child) {
      &::after {
        content: "";

        display: inline-block;
        width: 2px;
        height: 15px;
        margin: 0 10px;

        vertical-align: middle;

        background-color: $grey;
      }
    }
  }

  &__organizer {
    color: $orange;

    strong {
      font-weight: 600;
      color: $dark-font-color;
    }
  }

  &__timetable {
    p {
      margin-bottom: 0;

      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .event-descr {
    flex-direction: column;

    &__meta {
      flex-direction: column;
    }

    &__categories {
      margin-right: 0;
      margin-bottom: 10px;

      span:not(:last-child) {
        &::after {
          margin: 0 5px;
        }
      }
    }

    &__content {
      margin-bottom: 20px;
    }
  }
}
