.events-timetable {
  padding: 60px 5.5%;

  &__main-title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
  }

  &__filters {
    margin-bottom: 50px;

    text-align: center;
  }

  &__radio {
    position: absolute;
    right: -100px;
    left: -100px;

    &:checked {
      & + .events-timetable__filters-item {
        border-bottom: 2px solid $orange;
      }
    }
  }

  &__filters-item {
    margin-right: 40px;
    padding: 10px 0;

    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
    opacity: 0.7;
  }

  &__list {
    // margin: 40px 0 20px;
    padding: 0;

    list-style-type: none;

    & .slick-arrow {
      top: -4%;
      left: 50%;

      width: 30px;
      height: 30px;

      border: 2px solid $orange;
      border-right: none;
      border-bottom: none;
      transform: translateX(-50%) rotate(45deg);
    }

    & .slick-next {
      top: 101%;

      transform: translateX(-50%) rotate(225deg);
    }

    & li.events-timetable__item.slick-slide {
      border-left: 3px solid #f05030;


      &.coding-academy,
      &.teenguru,
      &.language,
      &.courses,
      &.training-topic {
        border-left: 3px solid $blue;
      }

      &.enterprise,
      &.biz,
      &.sale {
        border-left: 3px solid $red;
      }

      &.it,
      &.mk {
        border-left: 3px solid $orange;
      }

      &.startups {
        border-left: 3px solid $green;
      }

      &.administration {
        border-left: 3px solid $light-green;
      }
    }
  }


  &__item {
    display: flex !important;
    justify-content: flex-start;
    margin-bottom: 40px;

    border-left: 3px solid #f05030;
    // &::after {
    //   content: "";
    //   display: block;
    //   clear: both;
    // }
    // &.it,
    // &.mk {
    //   border-left: 3px solid $green;
    // }
    //
    // &.mitup,
    // &.startups,
    // &.biz,
    // &.courses {
    //   border-left: 3px solid $orange;
    // }
    // &.startups,
    // &.enterprise {
    //   border-left: 3px solid $blue;
    // }
  }

  &__time {
    flex: 0 0 25%;
    padding: 10px 3.5% 30px;

    font-family: "Open Sans", Arial, sans-serif;
    text-align: left;

    p {
      margin: 0;
      padding: 0;

      font-weight: 600;
      font-size: 1rem;
    }
  }

  &__info {
    flex: 0 1 auto;
    padding: 10px 3.5%;
  }

  &__category {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  &__category-item {
    padding: 0 10px;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
    color: $dark-font-color;
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid $dark-font-color;
    }

    &[data-category="coding-academy"],
    &[data-category="teenguru"],
    &[data-category="language"],
    &[data-category="courses"],
    &[data-category="training"],
    &[data-category="training-topic"] {
      color: $blue;
    }

    &[data-category="enterprise"],
    &[data-category="biz"],
    &[data-category="sale"],
    &[data-category="biz"] {
      color: $red;
    }

    &[data-category="startups"] {
      color: $green;
    }

    &[data-category="it"],
    &[data-category="mk"],
    &[data-category="mitup"] {
      color: $orange;
    }

    &[data-category="administration"],
    &[data-category="other"],
    &[data-category="other-events-types"],
    {
      color: $light-green;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Raleway, Arial, sans-serif;
    color: $dark-font-color;
    text-decoration: none;
  }

  &__more {
    display: block;

    font-weight: 700;
    text-align: center;
    color: $orange;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

// .events-timetable__list li.events-timetable__item.slick-slide {
//   border-left: 3px solid #f05030;
// }

// *********** MEDIA *************
@media only screen and (max-width: 768px) {
  .events-timetable {
    &__item {
      display: block !important;
    }

    &__list {
      & .slick-arrow {
        top: -7%;
      }

      & .slick-next {
        top: 100%;

        transform: translateX(-50%) rotate(225deg);
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .events-timetable {
    &__item {
      flex-direction: column;
    }

    &__time {
      flex-basis: 100%;
      padding: 10px 3.5%;
    }
  }
}
