.event-register {
  padding: 70px $section-padding;

  text-align: center;
  color: $dark-font-color;
  background-color: $grey;

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;

    font-weight: 400;
    font-size: 1.875rem;
  }

  form {
    width: 37.5%;
    margin: 0 auto;

    text-align: center;

    p {
      text-align: left;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 35px;
      padding: 5px 0;

      border: none;
      border-bottom: 1px solid $dark-font-color;
      border-radius: 0;
      outline: none;

      transition: all 0.3s ease-in;
      background: none;

      &:focus {
        border-bottom: 1px solid $orange;
      }

      &.hidden {
        display: none;
      }
    }

    .btn {
      margin: auto;
      padding: 15px 50px;
      color: #f05030;
      border: 3px solid #f05030;
      background-color: transparent;
      width: auto;

    }
  }
}

// ************ MEDIA ************
@media only screen and (max-width: 768px) {
  .event-register {
    form {
      width: 80%;
    }
  }
}
