.events-info {
  display: flex;
  flex-wrap: wrap;

  &__title {
    flex-basis: 100%;
    text-align: center;
    padding: 60px 0;
    margin: 0;
    font-size: 1.875rem;
    font-weight: 300;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    width: 50%;
    background-color: $grey + 4;
  }


  &__right {
    flex-basis: 50%;
    width: 50%;
    padding: 40px 0;

    .content-block--timetable {
      max-width: 100%;
    }
  }

  &__image {
    width: 100%;
  }
}


// **************** MEDIA **********

@media only screen and (max-width: 768px) {
  .events-info {
    &__left,
    &__right {
      flex-basis: 100%;
    }

    &__right {
      &--swap {
        order: -1;
      }
    }
  }
}
