.flex-container-50-50 {
  display: flex;
  flex-wrap: wrap;

  &__element {
    flex: 1 1 384px;
    display: flex;

    .container {
      height: auto;
      margin: auto;
    }

    &:first-child {
      order: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .offers .flex-container-50-50:nth-child(2n) {
    .flex-container-50-50__element:last-child {
      order: 2;
    }

    .flex-container-50-50__element:first-child {
      order: 1;
    }
  }
}
