.banner.coding-academy {
  .btn {
    margin: 1.2rem 0;
    padding: 10px 40px;
  }

  .btn.no-border {
    margin: 10px 40px;
    padding: 0;

    border: none;
    border-bottom: 2px dashed $orange;
    border-radius: 0;

    &:hover {
      color: $orange;

      background-color: inherit;
      border-bottom: 2px solid $orange;
    }
  }
}
