.we-offer {
  padding: 60px 0;

  &__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__article {
    flex-basis: calc(100% / 3);
    padding: 2.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      .we-offer__title {
        color: $orange;
      }

      .we-offer__icon {
        use {
          fill: $orange !important;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.3s ease-in;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;

    use {
      fill: $dark-font-color !important;
      transition: all 0.3s ease-in;
    }
  }

  &__text {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.banner {
  padding-top: 0;
  padding-bottom: 0;
}


@media only screen and (max-width: 900px) {
  .we-offer {
    &__content {
      &__article {
        flex-basis: 50%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .we-offer {
    &__content {
      max-width: 30rem;
      margin: 0 auto;

      &__article {
        flex-basis: 100%;
      }
    }
  }
}
