.banner.coding-academy {

	.btn {
		margin: 1.2rem 0;
		padding: 10px 40px;
	}

	.btn.no-border {
		border: none;
		padding: 0;
		margin: 10px 40px;
		border-bottom: 2px dashed $orange;
		border-radius: 0;

		&:hover {
			border-bottom: 2px solid $orange;
			background-color: inherit;
			color: $orange;
		}
	}
}
