.banner.coding-academy {

	.btn {
		margin: 0;
		padding: 10px 40px;
	}

	a.btn {
		border: none;
		padding: 0;
		margin: 10px 40px;
		border-bottom: 2px dashed $red;
		border-radius: 0;

		&:hover {
			border-bottom: 2px solid $red;
			background-color: inherit;
			color: $red;
		}
	}
}