.short-form {
	max-width: 50em;

	&__description {
		font-size: 1.5em;
		margin-bottom: 3em;
	}

	&--inline {

		.text-input {
			width: 50%;
			float: left;
		}
		.btn {
			float: right;
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}