.title-style-1 {


	h2 {
		font-size: 1.875em;
		margin:0;
		font-weight: 500;
		margin-bottom: .4em;
	}
}
.content-style-1 {

	p {
		font-size: 1.275em;
		margin: 0;
	}
}

.semibold {
	font-weight: 500;
}