.offers {
	.offer-item {

		&__photo {
			background-image: url(../img/nordic.jpg);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 50vw;
		}
	}
}

.call-us {
	.colored-info-box__title {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		justify-content: space-between;
		h3 {
			text-align: center;
			line-height: 1.2em;
			padding: 0 .5em;
			flex-basis: 100%;
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		h3:not(:last-child) {
			margin-bottom: .8em;
		}
	}
}


@media only screen and (min-width: 900px) {
	.call-us {
		.colored-info-box__title {
			h3 {
				flex-basis: auto;
			}
			h3:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
}


.icon-before {
	&:before {
		content: '';
		display: inline-block;
		height: 1.5em;
		width: 1.5em;
		padding: 0;
		vertical-align: middle;
		transform: translateY(-.2em);
		margin-right: .5em;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	&--people:before {
		background-image: url(../img/people.svg);
		width: 1.7em;
	}
	&--price:before {
		background-image: url(../img/price.svg);
	}
}

@media only screen and (min-width: 768px) {
	.offers {
		.offer-item {
			&__photo {
				min-height: 0;
			}
		}
	}
}