.offers {
  .offer-item {
    &__photo {
      min-height: 50vw;

      background-image: url("../img/nordic.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  .check-date,
  .check-time {
    display: block;
    margin-top: 0.5em;
  }
}

.call-us {
  .colored-info-box__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;

    h3 {
      flex-basis: 100%;
      padding: 0 0.5em;

      line-height: 1.2em;
      text-align: center;

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    h3:not(:last-child) {
      margin-bottom: 0.8em;
    }
  }
}


@media only screen and (min-width: 900px) {
  .call-us {
    .colored-info-box__title {
      h3 {
        flex-basis: auto;
      }

      h3:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}


.icon-before {
  &::before {
    content: "";

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    padding: 0;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transform: translateY(-0.2em);
  }

  &--people::before {
    width: 1.7em;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 23.92'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23433e3d;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Epeople%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cpath class='cls-1' d='M25 22.92c0-6.21-4.45-7.79-5.81-8.12a.1.1 0 0 1 0-.19 5.16 5.16 0 0 0 3.63-4.86 5.25 5.25 0 0 0-5.32-5.12 5.25 5.25 0 0 0-5.37 5.13 5.16 5.16 0 0 0 3.63 4.86.1.1 0 0 1 0 .19c-1.36.33-5.76 1.91-5.76 8.11m24-3.62c0-6.21-4.45-7.79-5.81-8.12a.1.1 0 0 1 0-.19 5.16 5.16 0 0 0 3.63-4.86A5.25 5.25 0 0 0 26.45 1a5.48 5.48 0 0 0-3.79 1.5M1 19.3c0-6.21 4.45-7.79 5.81-8.12a.1.1 0 0 0 0-.19 5.16 5.16 0 0 1-3.63-4.86A5.25 5.25 0 0 1 8.55 1a5.48 5.48 0 0 1 3.79 1.5' id='Home'/%3E%3C/g%3E%3C/svg%3E");
  }

  &--price::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.34 35'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23433e3d;stroke-miterlimit:10;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eprice_1%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Home'%3E%3Cellipse class='cls-1' cx='12.26' cy='8.28' rx='11.26' ry='7.28'/%3E%3Cpath class='cls-1' d='M1 9.07v5.25c0 4 5 7.28 11.26 7.28s11.26-3.26 11.26-7.28V9.07'/%3E%3Cpath class='cls-1' d='M16.74 27.37a16.63 16.63 0 0 1-4.48.6C6 28 1 24.7 1 20.68a5.29 5.29 0 0 1 1.18-3.25'/%3E%3Cpath class='cls-1' d='M1 21.47v5.25C1 30.74 6 34 12.26 34s11.26-3.26 11.26-7.28m-.17-19.41c5.13.68 9 3.62 9 7.14 0 4-5 7.28-11.26 7.28a16.48 16.48 0 0 1-4.88-.73'/%3E%3Cpath class='cls-1' d='M9.82 20.48c0 4 5 7.28 11.26 7.28s11.26-3.26 11.26-7.28v-5.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &--calendar::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 27.99'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;stroke:%23433e3d;stroke-linecap:round;stroke-width:2px;%7D.cls-1%7Bstroke-linejoin:round;%7D.cls-2%7Bstroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ecalendar%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cg id='IconCalendar'%3E%3Cline class='cls-1' x1='17.39' y1='6.6' x2='17.39' y2='1'/%3E%3Cline class='cls-1' x1='7.61' y1='6.6' x2='7.61' y2='1'/%3E%3Cline class='cls-1' x1='4.38' y1='11.17' x2='20.55' y2='11.17'/%3E%3Cpath class='cls-2' d='M5,4H4a3.08,3.08,0,0,0-3,3.1V24a3,3,0,0,0,3,3H20.94A3,3,0,0,0,24,24V7.08A3.14,3.14,0,0,0,20.94,4H20'/%3E%3Cline class='cls-2' x1='15' y1='3.99' x2='10' y2='3.99'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &--clock::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 27.44'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;stroke:%23433e3d;stroke-miterlimit:10;stroke-width:2px;%7D.cls-2%7Bstroke-linecap:round;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclock-bl%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Home'%3E%3Cg id='iconClock'%3E%3Ccircle class='cls-1' cx='12.5' cy='14.94' r='11.5'/%3E%3Cline class='cls-2' x1='12.5' y1='14.94' x2='18.04' y2='9.4'/%3E%3Cline class='cls-2' x1='12.5' y1='14.94' x2='12.5' y2='19.19'/%3E%3Cline class='cls-2' x1='10.63' y1='1' x2='14.38' y2='1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

@media only screen and (min-width: 768px) {
  .offers {
    .offer-item {
      &__photo {
        min-height: 0;
      }
    }
  }
}
