.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  color: $white-color;

  &__item {
    display: flex;
    flex: 1 1 33.33%;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 4.6875%;

    color: $white-color;
    text-decoration: none;

    background-color: $blue;

    &:nth-child(2n+1) {
      order: 2;

      background-color: $orange;
    }

    &--blog {
      padding: 90px 4.6875%;

      background-color: $orange;

      &:nth-child(2n+1) {
        order: 2;

        background-color: $blue;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__date {
    padding-right: 10px;

    font-weight: 400;
    font-size: 1.125rem;
    font-family: "Open Sans", Arial, sans-serif;

    border-right: 1px solid $white-color;

    &--post {
      font-weight: 300;
      font-size: 1.25rem;

      border-right: none;
    }

    &--no-border-right {
      border-right: none;
    }
  }

  &__day {
    font-weight: 600;
    font-size: 1.625rem;
    font-family: "Open Sans", Arial, sans-serif;
  }

  &__month {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
  }

  &__period {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
  }

  &__price {
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 1.875rem;
  }

  &__tags {
    a {
      padding-right: 5px;

      font-size: 0.875rem;
      color: $white-color;
      text-decoration: none;

      &:not(:last-child) {
        border-right: 1px solid $white-color;
      }
    }
  }

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 12px;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: Raleway, Arial, sans-serif;
    color: $white-color;
    text-decoration: none;

    border-left: 3px solid $white-color;

    &--light {
      font-weight: 300;
      font-size: 1.5rem;
    }

    &--blog {
      padding: 0;

      border: none;
    }

    &--post {
      margin-bottom: 40px;
      padding: 0;

      font-weight: 600;
      font-size: 1.5rem;

      border: none;
    }

    &--no-border-left {
      padding: 0;

      border-left: none;
    }

    &--courses {
      padding-left: 0;

      font-weight: 600;
      font-size: 1.875rem;

      border: none;
    }
  }

  &__author {
    padding: 0 10px;

    font-weight: 400;
    font-size: 1.125rem;
  }

  &__category {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 0;

    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
    text-transform: capitalize;

    &--post {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }

  &__more {
    font-weight: 500;
    font-size: 1rem;
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;

  li {
    padding: 0 5px;

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid $white-color;
    }
  }

  a {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;
  }
}


// **************** MEDIA *******************
@media only screen and (max-width: 768px) {
  .posts {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .posts {
    &__item {
      flex-basis: 100%;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}
