.post-data {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__category {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
    }

    li {
      &:not(:last-child) {
        border-right: 1px solid $white-color;
      }

      a {
        font-weight: 300;
        font-size: 1rem;
        color: $white-color;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__info {
    font-weight: 300;
    font-size: 1rem;
    color: $white-color;
  }

  &__author {
    a {
      color: $white-color;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  &__date {
    margin-right: 10px;
  }
}


// *************** MEDIA *************
@media only screen and (max-width: 480px) {
  .post-data {
    flex-direction: column;

    text-align: center;
    align-items: center;

    &__category {
      margin-bottom: 30px;
    }

    &__info {
      span {
        display: block;
        margin-bottom: 30px;
      }
    }
  }
}
