.pricelist {
  & > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  // размеры задаются плагином слайдера slick carousel

  &__item {
    padding: 40px 1%;
    text-align: left;
    position: relative;
    min-height: 500px;
    flex: 1 0 20%;
    border: 3px solid transparent;
    transition: all 0.3s ease-in;

    &:hover {
      border-color: $orange;
    }

    &:nth-child(2n+2) {
      background-color: $grey;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  &__descr {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  &__features {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;

    li {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 25px;

      &::before {
        content: "";
        display: block;
        float: left;
        height: 40px;
        width: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 51.08 50'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;clip-rule:evenodd;%7D.cls-2%7Bclip-path:url%28%23clip-path%29;%7D.cls-3%7Bfill:%23d45035;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Cpath class='cls-1' d='M40.35 12.18l-2.79-1.9a1.7 1.7 0 0 0-2.34.45L21.54 30.89l-6.28-6.28a1.7 1.7 0 0 0-2.38 0L10.49 27a1.69 1.69 0 0 0 0 2.39L20.15 39a3.29 3.29 0 0 0 2.16 1 2.59 2.59 0 0 0 2-1.2L40.8 14.52a1.69 1.69 0 0 0-.45-2.34z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cpath class='cls-2 cls-3' d='M0 0h51.08v50H0z' id='Слой_1-2' data-name='Слой 1'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 20px;
      }
    }
  }

  .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 40px;
  }

  .slick-arrow {
    border-color: $dark-font-color;
    opacity: 0.6;
  }

}


@media only screen and (max-width: 800px) {
  .pricelist {
    &__features {
      margin-bottom: 40px;
    }

    &__item {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .pricelist  > ul {
    display: block;
  }
}
