.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0 $section-padding 60px;

  background: url("../img/main-bg.jpg") center;
  background-size: cover;

  &--event {
    background: url("../img/event__bg.jpg") center;
    background-size: cover;
  }

  &--coworking {
    background: url("../img/coworking_bg.jpg") center top;
    background-size: cover;
  }

  &--startups {
    background: url("../img/startups_bg.jpg") center;
    background-size: cover;
  }

  &--academy {
    background: url("../img/academy_bg.jpg") center;
    background-size: cover;
  }

  &--fe-courses {
    background: url("../img/startups_bg.jpg") center;
    background-size: cover;
  }

  &--events {
    background: url("../img/events_bg.jpg") center;
    background-size: cover;
  }

  &--contact-us {
    min-height: calc(100vh - 79px);

    background: url("../img/contact-us_bg.jpg") center;
  }

  &--blog {
    background: url("../img/blog__bg.jpg") center;
    background-size: cover;
  }

  &--post {
    padding: 200px $section-padding 30px;
    background: url("../img/blog__bg.jpg") center;
    background-size: cover;
  }


  &__video-iframe {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000000;
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0 $section-padding 60px;

    background-color: rgba(0, 0, 0, 0.5);

    // &__video-button {
    //   position: absolute;
    //   top: calc((100% - #{$playVidD}) / 2);
    //   left: calc((100% - #{$playVidD}) / 2);
    //
    //   width: $playVidD;
    //   height: $playVidD;
    //
    //   border: 0.3rem solid $white-color;
    //   border-radius: 50%;
    //   cursor: pointer;
    //   // transition: transform .1s;
    //   &:hover {
    //     box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    //     transform: scale(1.05);
    //   }
    //
    //   &:active {
    //     transform: scale(1);
    //   }
    //
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //
    //     display: block;
    //     width: 0;
    //     height: 0;
    //
    //     border-top: 1rem solid transparent;
    //     border-bottom: 1rem solid transparent;
    //     border-left: 1.5rem solid $white-color;
    //     transform: translate(-0.5rem, -50%);
    //   }
    // }
  }

  &--about {
    background: url("../img/about_bg.jpg") top center;
    background-size: cover;
  }
}

.info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;

  font-size: .9rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: $white-color;

  opacity: 0.8;

  &__left,
  &__right {
    flex: 1 1 50%;
    margin-top: 40px;
  }

  &__right {
    text-align: right;
  }

  &__left {
    text-align: left;
  }

  &__adress {
    margin-bottom: 10px;

    span {
      margin-right: 20px;
    }
  }

  &__phone {
    @extend .info__adress;
  }

  &__mail {
    display: block;
    font-size: 1rem;
    color: $white-color;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__social {
    a {
      color: $white-color;
      text-decoration: none;
      transition: all 0.3s ease-in;
      vertical-align: baseline;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }
}

.main-text {
  flex: 1 1 auto;
  width: 100%;
  margin: auto;

  font-weight: 500;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  &--course-promo {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 90%;
    margin-bottom: 0;

    transform: translate(-50%, -50%);
  }

  &--post {
    margin-bottom: 170px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-weight: 400;
    font-size: 2.125rem;
    text-transform: uppercase;

    &--event {
      margin-bottom: 20px;

      font-weight: 500;
      font-size: 3.75rem;
    }

    &--post {
      font-weight: 500;
      font-size: 2.5rem;
    }
  }

  &__course-title {
    font-weight: 400;
    font-size: 1.875rem;
  }

  &__course-paragraph {
    font-weight: 300;
    font-size: 1.5rem;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 500;
    font-size: 2.5rem;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 380px;
    max-height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.875rem;

    &--events {
      margin-bottom: 40px;

      font-weight: 400;
      font-size: 1.25rem;
    }

    &--event {
      font-weight: 300;
      font-size: 2rem;
    }
  }

  &__descr {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 7%;
    padding: 0;

    font-size: 1.25rem;
  }

  &__date {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-weight: 600;
    font-size: 1.875rem;
    font-family: Raleway, Arial, sans-serif;

    &--blog {
      padding-left: 10px;

      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  &__buttons {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  &__category {
    padding-right: 15px;

    font-weight: 600;

    border-right: 1px solid $white-color;
  }

  &--slider {
    position: relative;

    margin-bottom: 30px;

    .slick-dots {
      position: absolute;
      top: 85%;
      bottom: top;
      left: 50%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      margin-top: 8%;
      padding: 0;

      list-style-type: none;

      transform: translateX(-50%);

      button {
        display: block;
        width: 12px;
        height: 12px;
        margin-right: 10px;

        font-size: 0;

        background-color: $white-color;
        border: none;
        border-radius: 50%;
        outline: none;
        opacity: 0.3;
      }
    }

    li.slick-active > button {
      opacity: 0.8;
    }
  }
}


.features {
  width: 100%;

  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-weight: 500;
    font-size: 1.25rem;
    color: $white-color;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    position: relative;

    flex-basis: 20%;
    margin-bottom: 20px;

    opacity: 0.5;

    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    a {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.2;
      font-family: Raleway, Arial, sans-serif;
      color: $white-color;
      text-decoration: none;
    }
  }

  &__icon {
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}


// *********** MEDIA ****************

@media only screen and (max-width: 1024px) {
  .info {
    &__left {
      flex-direction: column;
    }

    &__time {
      margin-bottom: 10px;
    }
  }

  .main-text {
    &__buttons {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__left,
    &__right {
      flex: 0 0 50%;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .promo {
    &--post {
      padding-top: 100px;
      padding-bottom: 200px;
    }
  }

  .main-text {
    &--post {
      margin-bottom: 40px;
    }

    &__buttons {
      width: 90%;
    }

    &--slider {
      .slick-dots {
        top: 95%;
      }
    }
  }

  .features {
    &__item {
      flex-basis: 30%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .promo {
    padding-bottom: 10px;
  }

  .promo--post {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info {
    flex-direction: column;
    align-items: center;

    &__left {
      display: none;
    }

    &__right {
      width: 100%;

      text-align: right;
    }

    &__mail {
      margin-bottom: 25px;
    }

    &__social {
      a {
        display: block;
        margin-bottom: 15px;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  .main-text {


    &__buttons {
      flex-direction: column;
      width: 100%;
    }

    &__title {
      &--post {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
    }
  }

  .features__item {
    flex-basis: 100%;
  }
}
