.promo {

  position: relative;
  padding: 0 $section-padding 60px;

  background: url("../img/shadow.png"), url("../img/fe-courses-bg.jpg") center;
  background-size: cover;

  font-size: 14px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: calc(100vh - 3rem);

  .container {
    width: 85vw;
    margin: 0 auto;
  }

  .main-text {
    width: 100%;
    margin: 4rem 0;
    font-weight: 500;
    font-family: Raleway, Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    &__title {
      font-weight: 500;
      font-size: 2em;
      margin-top: 0;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 1.5em;
    }
    &__paragraph {
      font-size: 1em;
      margin-bottom: 1.8em;
    }
  }

  .btn {
    font-size: 1em;
    transition: background-color .2s, color .2s;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      color: #000;
    }
  }
}

.info {
  font-size: 1em;
  font-family: "Open Sans", Arial, sans-serif;
  color: $white-color;
  margin-bottom: 1em;
  padding: 1em 0;
  opacity: .8;
  &__adress,
  &__time,
  &__phone,
  &__mail {
    float: left;
    width: 100%;
    text-align: center;
  }

  &__mail {
    a {
      color: $white-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media only screen and (min-width: 360px) {
  .promo {
    font-size: 16px;
  }
}
@media only screen and (min-width: 400px) {
  .promo {
    font-size: 18px;
  }
}

@media only screen and (min-width: 460px) {
  .promo {
    font-size: 20px;
  }
}
@media only screen and (min-width: 520px) {
  .promo {
    font-size: 22px;
  }
}
@media only screen and (min-width: 600px) {
  .promo {
    font-size: 24px;
  }
}
@media only screen and (min-width: 680px) and (orientation: portrait) {
  .promo {
    font-size: 3.6vw;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .promo {
    font-size: 16px;
    .main-text {
        width: 100%;
        &__title {
          font-size: 2.4em;
        }
        &__subtitle {
          font-size: 1.8em;
        }
        &__paragraph {
          font-size: 1.2em;
        }
      }
  }
  .info {
    &__adress,
    &__time,
    &__phone,
    &__mail {
      width: 25%;
    }
  }
}

@media only screen and (min-width: 990px) and (orientation: landscape) {
  .promo {
    font-size: 18px;
    .info {
      font-size: .9em;
      &__adress,
      &__time,
      &__phone,
      &__mail {
        width: auto;
        padding: .5em 1.5em;
      }

      &__adress,
      &__time,
      &__phone {
        float: left;
        text-align: left;
        padding-left: 0;
      }

      &__mail{
        float: right;
        text-align: right;
        padding-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (orientation: landscape) {
  .promo {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .promo {
    font-size: 22px;
    .info {
      font-size: .8em;
    }
  }
}


@media only screen and (min-width: 1400px) and (orientation: landscape) {
  .promo {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1650px) and (orientation: landscape) {
  .promo {
    font-size: 28px;
    .info {
      font-size: .7em;
    }
  }
}

@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .promo {
    font-size: 1.6vw;
  }
}

@media only screen and (min-width: 768px) and (max-aspect-ratio: 10/4) and (orientation: landscape) {
  .promo {
    .main-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-bottom: 0;
      margin-top: 2rem;
      padding: 0 2rem;
    }
  }
}