.room-booking {
  padding: 60px 0;
  text-align: center;
  background-color: $grey;

  &__title {
    margin: 0 0 60px;
    padding: 0;
    font-weight: 400;
    font-size: 1.875rem;
    text-align: center;
  }

  form {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: left;

    label {
      display: block;
      margin-bottom: 15px;
      font-size: 1.25rem;
    }

    select {
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 30px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $dark-font-color;
      outline: none;
    }

    input {
      border: none;
      border-bottom: 1px solid $dark-font-color;
      background-color: transparent;
      transition: all 0.3s ease-in;
      padding: 5px 10px;
      outline: none;
      margin-bottom: 30px;
      width: 100%;

      &:focus {
        border-bottom-color: $orange;
      }
    }

    .btn {
      width: 60%;
      margin: 0 auto;
      display: block;
      min-width: 200px;
    }

    .form-wrapper {
      width: 100%;
      margin-bottom: 40px;

      input[type="checkbox"] {
        position: absolute;
        left: -9999px;
      }

      h3 {
        font-weight: 700;
        font-size: 1.25rem;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      label {
        display: inline-block;
        padding: 10px;
        padding-left: 0;
        margin-bottom: 0;
        transition: all 0.1s  ease-in;
        font-size: 1.125rem;
        cursor: pointer;

        &.checked {
          color: $orange;
        }
      }
    }
  }
}
