.show-more-info {
  overflow: hidden;

  transform: translateZ(0);

  transition: height 0.2s;

  .container {
    height: auto;
  }
}

.show-more {
  padding: 0;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
