.social {
  flex: 0 1 50%;
  padding: 60px 0;
  color: $white-color;

  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;

  &--fullwidth {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;

    &--fullwidth {
      margin-bottom: 0;
      margin-right: 80px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: block;
    width: 60px;
    height: 60px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__icon {
    width: 100%;
    max-height: 60px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}


// *********** MEDIA **************
@media only screen and (max-width: 768px) {
  .social {
    padding: 60px 0;

    &--fullwidth {
      display: block;
      width: 100%;
    }

    &__list {
      justify-content: center;
    }

    &__title {
      &--fullwidth {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

}

@media only screen and (max-width: 480px) {
  .social {
    padding-top: 30px;
    padding-bottom: 40px;

    &__item {
      width: 45px;
      height: 45px;
    }

    &__title {
      font-size: 1.5rem;

      &--fullwidth {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}
