.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  &__item {
    padding: 40px 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    padding-left: 70px;
    flex: 0 0 23%;
    position: relative;
    opacity: 0.7;
    transition: all 0.3s ease-in;

    &::before {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43.93 43.93'%3E%3Ctitle%3Eedu_icon1%3C/title%3E%3Cpath d='M22,38.44a4.12,4.12,0,1,1,4.12-4.12A4.12,4.12,0,0,1,22,38.44ZM22,33a1.37,1.37,0,1,0,1.37,1.37A1.37,1.37,0,0,0,22,33Z' style='fill:%23fff'/%3E%3Cpath d='M22,43.93a22,22,0,1,1,22-22A22,22,0,0,1,22,43.93ZM22,2.75A19.22,19.22,0,1,0,41.19,22,19.24,19.24,0,0,0,22,2.75Z' style='fill:%23fff'/%3E%3Cpath d='M37.07,23.34A1.37,1.37,0,0,1,35.7,22,13.73,13.73,0,0,0,8.24,22a1.37,1.37,0,1,1-2.75,0,16.48,16.48,0,0,1,33,0A1.37,1.37,0,0,1,37.07,23.34Z' style='fill:%23fff'/%3E%3Cpath d='M22.59,33a1.4,1.4,0,0,1-.31,0,1.37,1.37,0,0,1-1-1.65L25.32,13.7a1.37,1.37,0,0,1,2.68.62L23.92,32A1.37,1.37,0,0,1,22.59,33Z' style='fill:%23fff'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--active {
      opacity: 1;
    }

    &--timetable {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43.93 43.93'%3E%3Ctitle%3Eedu_icon2%3C/title%3E%3Cg style='opacity:1'%3E%3Cpath d='M37.08,32.82H6.86A6.79,6.79,0,0,1,0,26.12V9.44A6.79,6.79,0,0,1,6.86,2.73H37.08a6.79,6.79,0,0,1,6.86,6.71V26.12A6.79,6.79,0,0,1,37.08,32.82ZM6.86,5.48a4,4,0,0,0-4.11,4V26.12a4,4,0,0,0,4.11,4H37.08a4,4,0,0,0,4.11-4V9.44a4.09,4.09,0,0,0-4.11-4Z' style='fill:%23fff'/%3E%3Cpath d='M21.79,41.16a1.37,1.37,0,0,1-1.37-1.37V32.33a1.37,1.37,0,1,1,2.75,0v7.46A1.37,1.37,0,0,1,21.79,41.16Z' style='fill:%23fff'/%3E%3Cpath d='M22,5.37A1.37,1.37,0,0,1,20.59,4V1.37a1.37,1.37,0,1,1,2.75,0V4A1.37,1.37,0,0,1,22,5.37Z' style='fill:%23fff'/%3E%3Cpath d='M29,43.93a1.37,1.37,0,0,1-1-.4l-7.25-7.19a1.37,1.37,0,0,1,1.93-2L30,41.59a1.37,1.37,0,0,1-1,2.35Z' style='fill:%23fff'/%3E%3Cpath d='M14.46,43.93a1.37,1.37,0,0,1-1-2.35l7.25-7.19a1.37,1.37,0,0,1,1.93,2l-7.25,7.19A1.37,1.37,0,0,1,14.46,43.93Z' style='fill:%23fff'/%3E%3Cpath d='M9.61,26.16a1.37,1.37,0,0,1-1-2.27L17,14.14A1.37,1.37,0,0,1,19,14l7,6,7.32-8.58a1.37,1.37,0,1,1,2.09,1.78l-8.22,9.63a1.37,1.37,0,0,1-1.94.15l-7-6-7.56,8.72A1.37,1.37,0,0,1,9.61,26.16Z' style='fill:%23fff'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--team {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.7 43.93'%3E%3Ctitle%3Eedu_icon3%3C/title%3E%3Cpath d='M31.58,38.84H4.12A4.12,4.12,0,0,1,0,34.72V4.12A4.12,4.12,0,0,1,4.12,0H31.58A4.12,4.12,0,0,1,35.7,4.12v30.6A4.12,4.12,0,0,1,31.58,38.84ZM4.12,2.75A1.37,1.37,0,0,0,2.75,4.12v30.6A1.37,1.37,0,0,0,4.12,36.1H31.58A1.37,1.37,0,0,0,33,34.72V4.12a1.37,1.37,0,0,0-1.37-1.37Z' style='fill:%23fff'/%3E%3Cpath d='M6.86,38.84a1.37,1.37,0,0,1-1.37-1.37V1.37a1.37,1.37,0,0,1,2.75,0v36.1A1.37,1.37,0,0,1,6.86,38.84Z' style='fill:%23fff'/%3E%3Cpath d='M34.32,43.93H5.49A5.5,5.5,0,0,1,0,38.44V33.29a1.37,1.37,0,1,1,2.75,0v5.15a2.75,2.75,0,0,0,2.75,2.75H34.32a1.37,1.37,0,1,1,0,2.75Z' style='fill:%23fff'/%3E%3C/svg%3E");
      }
    }

    &--pres {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43.93 43.93'%3E%3Ctitle%3Eedu_icon4%3C/title%3E%3Cpath d='M16.48,22H9.61a1.37,1.37,0,1,1,0-2.75h6.86a1.37,1.37,0,0,1,0,2.75Z' style='fill:%23fff'/%3E%3Cpath d='M22,27.46H9.61a1.37,1.37,0,1,1,0-2.75H22a1.37,1.37,0,1,1,0,2.75Z' style='fill:%23fff'/%3E%3Cpath d='M22,33H9.61a1.37,1.37,0,1,1,0-2.75H22A1.37,1.37,0,1,1,22,33Z' style='fill:%23fff'/%3E%3Cpath d='M37.07,43.93H6.86A6.87,6.87,0,0,1,0,37.07V13.73A6.87,6.87,0,0,1,6.86,6.86H23.34a1.37,1.37,0,1,1,0,2.75H6.86a4.12,4.12,0,0,0-4.12,4.12V37.07a4.12,4.12,0,0,0,4.12,4.12H37.07a4.12,4.12,0,0,0,4.12-4.12V13.73a4.12,4.12,0,0,0-4.12-4.12,1.37,1.37,0,0,1,0-2.75,6.87,6.87,0,0,1,6.86,6.86V37.07A6.87,6.87,0,0,1,37.07,43.93Z' style='fill:%23fff'/%3E%3Cpath d='M30.37,33A1.37,1.37,0,0,1,29,31.58V28.83a1.37,1.37,0,1,1,2.75,0v2.75A1.37,1.37,0,0,1,30.37,33Z' style='fill:%23fff'/%3E%3Cpath d='M31.12,30.21H29.75a1.83,1.83,0,0,1-1.83-1.83v-.19l-.61-1.49-1-1.74a1.37,1.37,0,0,1-.19-.7V4.12a4.12,4.12,0,0,1,8.24,0V24.26a1.37,1.37,0,0,1-.1.52l-.75,1.83L33,28.14v.23A1.83,1.83,0,0,1,31.12,30.21Zm-2.29-6.32.89,1.51a1.26,1.26,0,0,1,.09.17l.61,1.49.48-1.41L31.58,24V4.12a1.37,1.37,0,1,0-2.75,0Z' style='fill:%23fff'/%3E%3C/svg%3E");
      }
    }
  }
}

//  ************* MEDIA ***********
@media only screen and (max-width: 768px) {
  .tabs {
    flex-wrap: wrap;

    &__item {
      flex: 0 0 45%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .tabs {
    &__item {
      flex: 0 0 100%;
    }
  }
}
