.text-block {
  padding: 60px $section-padding / 2;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 356.46'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23433e3d;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EBgDt%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Home'%3E%3Cpath class='cls-1' d='M99.67,63.09a.86.86,0,0,0,0-.13.87.87,0,0,0,0-.11l-.05-.09-.08-.11,0-.06L86.84,49.85a.93.93,0,0,0-.11-.07.88.88,0,0,0-.09-.08l-.06,0-.18-.06-.17,0h-.18l-.17,0-.16.08-.15.1-.05,0a.92.92,0,0,0-.07.1s0,.06,0,.09L80,59.55h0l-.07,0,0,.08a1,1,0,0,0-.07.16s0,0,0,.06v0a.89.89,0,0,0,0,.11.88.88,0,0,0,0,.16s0,.06,0,.09a.94.94,0,0,0,0,.1.84.84,0,0,0,0,.09L87.6,76h0v0a.92.92,0,0,0,.19.24l0,0,0,0,.19.11.08,0a.92.92,0,0,0,.28,0h0a.91.91,0,0,0,.35-.08h0a.92.92,0,0,0,.29-.23h0L99.48,63.83l0-.06.08-.13,0-.09,0-.09s0,0,0-.06,0-.05,0-.08a.61.61,0,0,0,0-.23ZM86.38,52l9.69,9.81L82.15,59.37ZM88.63,73.9,82.34,61.28,97,63.87Z'/%3E%3Cpath class='cls-1' d='M.23,349.4l-.23,0v3.07a5.15,5.15,0,1,0,8.32-5.07L76.67,222.56a3.41,3.41,0,0,0,2.75-5l.57-1L79,217a3.41,3.41,0,0,0-5.76.73L0,216.2v2l73,1.49c0,.08,0,.15,0,.22l-73,36v2.23l74-36.45a3.31,3.31,0,0,0,.3.25L0,334.39V338l65.14-98.56L6.56,346.39a5.14,5.14,0,0,0-5,1.09L0,346.34v2.49l.37.27c0,.06-.07.12-.1.18S.24,349.36.23,349.4Z'/%3E%3Cpath class='cls-1' d='M1280,219.43l-28.7,5.15,28.7-11.63v-2l-33.05,13.4L1280,193.16v-2.54l-33,31.16,33-55.07v-3.6l-36,60a3.41,3.41,0,1,0,2.75,4.11l33.27-6Z'/%3E%3Cpath class='cls-1' d='M1084.14,0l-1.74,11.86a4,4,0,1,0,5.6,4.29l28.75,4.34,8.62,17.8-.15.13a3.41,3.41,0,1,0,5.72,1.64l24.76-13.68L1186.56,31h.25l.17,0,.15-.07.16-.11.06,0L1218.13,0h-2.61l-29.13,29.13-28-4.23L1203.41,0h-3.82l-44.24,24.45L1118,18.81l-4.85-10L1153.44,0h-8.66l-32.47,7.1L1108.87,0h-2.06l3.63,7.5-23.61,5.16a4,4,0,0,0-2.53-1.13L1086,0Zm68.55,25.92L1130,38.43v0a3.4,3.4,0,0,0-3-.94L1119,20.83ZM1111.28,9.21l4.49,9.26L1088,14.29Z'/%3E%3Cpath class='cls-1' d='M372.91,5.82a4.37,4.37,0,0,0,6.47,4.08l60.24,68a3.45,3.45,0,0,0-.53,1.65,3.49,3.49,0,1,0,6.9-.45l20.74-10.64,61.18,41.86a2.3,2.3,0,1,0,2.34-1.67L493.78,54.57l64-32.83a4.4,4.4,0,1,0,1.19-6.66L545.07,0h-2.72l15.12,16.44c-.07.1-.13.21-.19.32L499.23,0H492l56.41,16.28L466.51,5.88a6.7,6.7,0,0,0-.08-.9L482,0h-6.56L467.2,2.64,471.45,0h-3.78l-1.9,1.18L466.87,0h-3.59l-.17.22c-.16-.09-.33-.15-.49-.22H457a6.72,6.72,0,0,0-2.57,2.13L450.32,0H446l7.56,3.88c-.12.37-.22,1.12-.28,1.12H381.56a3.48,3.48,0,0,0-1.12-2l1.91-3H378l-.48,1.66A4.39,4.39,0,0,0,372.91,5.82Zm69.45,70.44a3.43,3.43,0,0,0-1.24.31l-57.7-65.13,63.89,43.71Zm2.72,1.05a3.49,3.49,0,0,0-.77-.6l4.77-20.35,15.78,10.8ZM450.69,55l33.76-10.73,6.41,9.5-24,12.31Zm76.15,52.1L468.76,67.41,492,55.49ZM492.65,52.9l-6.22-9.21L550,23.48Zm-26.39-45,90.21,11.45L485.27,42,464.36,11A6.66,6.66,0,0,0,466.26,7.87Zm-6.77,4.85a6.65,6.65,0,0,0,3.21-.64l20.58,30.51L449.81,53.23l9.5-40.53ZM381.57,7h71.66a7.32,7.32,0,0,0,4.13,5.22l-9.57,40.83L381.38,7.6C381.45,7.41,381.52,7,381.57,7Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 115%;

  &--orange {
    color: $white-color;

    background-image:
    linear-gradient(rgba(240, 81, 47, 0.85), rgba(240, 81, 47, 0.85)),
    url("../img/hackthon_bg.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    flex: 0 0 48%;
    padding: 0 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0 10%;

    font-weight: 700;
    font-size: 4.75rem;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
  }
}


// ******** MEDIA ************
@media only screen and (max-width: 800px) {
  .text-block {
    background-size: contain;

    &__wrap {
      display: block;
    }

    &__left,
    &__right {
      width: 100%;
    }

    &__title {
      padding: 0;

      font-size: 3rem;
    }
  }
}
