.welcome {
  padding: 60px 0;

  color: $white-color;

  background-color: $orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &--half {
    flex: 0 0 50%;

  }

  &--post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 150px;

    .btn {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
  }

  &__map {
    margin: 0;
    padding: 0;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Raleway, Arial, sans-serif;
    color: $white-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// ************ MEDIA ************
@media only screen and (max-width: 768px) {
  .welcome {
    min-height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .welcome {
    padding-top: 20px;
    padding-bottom: 25px;

    &__title {
      font-size: 1.5rem;
    }
  }
}
