// стили для страниц woocommerce.
// возможно из-за них я сгорю в аду :see_no_evil:

.wrapper > h1 {
  font-size: 2rem;
  text-align: center;
}

.woocommerce-breadcrumb {
  padding: 3px 10.9375%;
  background-color: rgba(67, 62, 61, 0.6);
  font-weight: 700;
  color: $white-color;

  a {
    margin-right: 15px;
    padding: 0;
    font-weight: 400;
    color: $white-color;
    opacity: 0.8;
    transition: all 0.3s ease-in;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-left: 15px;
      vertical-align: middle;
      background-color: $orange;
      border-radius: 50%;
    }
  }
}

.page-title {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  font-size: 2.5rem;
  color: $dark-font-color;
}

.woocommerce-result-count {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 10px 0;
}

.woocommerce-ordering {
  padding: 0 5%;
  margin-bottom: 20px;

  select {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

.products {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;

  li {
    flex: 0 0 25%;
    // margin-bottom: 30px;
    // box-shadow: 0 0 8px #d0d0d0;
    border: 2px solid transparent;
    // border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s all ease-in;
    background-color: $grey;
    padding: 0;

    &:hover {
      border: 2px solid $orange;
      box-shadow: none;
    }

    &:nth-child(2n + 2) {
      background-color: $white-color;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      color: $dark-font-color;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }

    h3 {
      text-align: center;
      padding: 0 10px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .price {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;

    }

    .btn--orange-bg {
      color: $white-color;
      width: 70%;
      padding: 10px 15px;
      margin: 0 auto 30px;
      text-align: center;
      border: 3px solid $orange;

      &:hover {
        color: $dark-font-color;
      }
    }

    .added_to_cart {
      display: block;
      margin: 0 auto 15px;
      color: $orange;
      text-decoration: underline;
    }
  }
}

.woocommerce-pagination {
  .page-numbers {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;

    li {
      margin-right: 10px;
    }
  }
}

div[id^="product"] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 5%;
  background-color: $grey;
}

.images {
  flex: 1 0 45%;
  margin-right: 2%;
  margin-bottom: 40px;

  img {
    width: 100%;
    max-width: 450px;
  }
}

.summary {
  flex: 1 0 45%;
  margin-bottom: 40px;

  h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  .price {
    font-size: 1.875rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
    margin-bottom: 30px;
  }

  div[itemprop^="description"] {
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      padding: 10px 15px;
      outline: none;
      transition: all 0.3s ease-in;

      &:focus {
        border-color: $orange;
        border-style: solid;
      }
    }

    .btn--orange-bg {
      border: 2px solid $orange;
      padding: 10px 15px;

      &:hover,
      &:active {
        background: transparent;
        color: $dark-font-color;
      }
    }
  }

  .product_meta {
    font-size: 1.2rem;

    a {
      color: $orange;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.woocommerce-tabs {
  flex: 1 0 100%;
  margin-bottom: 40px;

  .wc-tabs {
    display: none;
  }

  div[id="tab-additional_information"] {
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
    }

    .shop_attributes {
      border-collapse: collapse;
      margin-bottom: 60px;

      th,
      td {
        border: 1px solid $dark-font-color;
        padding: 3%;
      }
    }
  }
}

.related_products {
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .products {
    padding: 0;
    border: 2px solid $dark-font-color;

    li {
      flex: 1 0 23%;
    }
  }
}


.woocommerce {
  form {
    width: 100%;
    margin: 0 auto;
  }

  & table {
    border-collapse: collapse;

    &.shop_table {
      border: none;
      border-radius: none;
    }

    th {
      font-size: 1.2rem;
      border-bottom: 1px solid $dark-font-color;
    }

    .product-name {
      a {
        font-size: 1.2rem;
        color: $dark-font-color;
        text-decoration: none;
      }
    }

    .product-price {
      span {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .product-subtotal {
      span {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    td.actions {
      padding: 20px 40px;

      .coupon-input {
        width: 200px;
        padding: 10px 15px;
        margin-right: 15px;
        outline: none;
        transition: all 0.3s ease-in;

        &:focus {
          border-color: $orange;
          border-style: solid;
        }
      }
    }

    .btn--orange-bg {
      padding: 10px 15px;
      border: 2px solid $orange;
      margin-bottom: 0;

      &:hover,
      &:active {
        color: $dark-font-color;
        background-color: transparent;
      }
    }
  }

  .cart-collaterals {
    width: 90%;
    margin: 0 auto;

    .shop_table {
      border-radius: none;
      border: 1px solid $dark-font-color;

      th, td {
        // border: 1px solid $dark-font-color;
        border: none;
      }

      .cart-subtotal {
        th, td {
          border-bottom: 1px solid $dark-font-color;
        }

        th {
          border-right: 1px solid $dark-font-color;
        }
      }

      .order-total {
        th {
          border-right: 1px solid $dark-font-color;
        }
      }
    }
  }

  .checkout {
    width: 95%;
  }

}

.checkout {
  h3 {
    font-size: 1.5rem;
  }

  label {
    font-weight: 600;
  }

  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $dark-font-color;
    margin-bottom: 20px;
    padding: 5px 10px;
    transition: all 0.3s ease-in;

    &:focus,
    &:active {
      border-bottom-color: $orange;
    }
  }

  select {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $dark-font-color;
    padding: 5px 10px;
  }
}

.woocommerce form .form-row input.input-text {
  border: none;
  border-bottom: 1px solid $dark-font-color;
  margin-bottom: 20px;
  padding: 5px 10px;
  transition: all 0.3s ease-in;

  &:focus,
  &:active {
    border-bottom-color: $orange;
  }
}

.woocommerce-checkout-review-order {
  table.shop_table {
    border-collapse: collapse;
    border: 1px solid $dark-font-color;

    thead {
      th {
        border: 1px solid $dark-font-color;
      }
    }

    tbody {
      td {
        padding: 10px 12px;
        border: 1px solid $dark-font-color;
      }
    }

    tfoot {
      background-color: $grey;
      th, td {
        border: 1px solid $dark-font-color;
      }
    }

    tfoot  .order-total td {
      border-top: 1px solid $dark-font-color;
    }
  }
}

.woocommerce #payment #place_order {
  border-bottom: none;
  padding: 20px 40px;
}


.woocommerce-message {
  background-color: $white-color;
  margin-bottom: 0 !important;

  a {
    font-weight: 700;
    text-decoration: underline;
  }
}

#order_review_heading {
  font-size: 1.7rem;
}

.wc_payment_methods {
  p {
    margin: 0;
  }
}

.woocommerce #payment #place_order {
  margin-bottom: 0;
}

.woocommerce {
  p, h2 {
    text-align: center;
  }
}


.woocommerce .woocommerce-thankyou-order-details {
  text-align: center;
  margin: 40px auto;
  width: 90%;
  max-width: 650px;
}

.woocommerce table.order_details,
.woocommerce table.customer_details {
  border: 1px solid $dark-font-color;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto 40px;

  thead {
    background-color: $grey;

    th {
      border-bottom: none;
    }
  }

  tbody {

    td {
      border: 1px solid $dark-font-color;
    }
  }

  tfoot {
    background-color: $grey;

    th,td {
      border: 1px solid $dark-font-color;
    }
  }
}


header.title {
  text-align: center;
}

address {
  text-align: center;
  margin-bottom: 30px;
}

abbr[title] {
  text-decoration: none;
}

div[itemprop="description"] {
  ul {
    padding-left: 15px;
  }
}


.term-description {
  text-align: center;
}

// ********** MEDIA **************

@media only screen and (max-width: 1222px) {
  .woocommerce-breadcrumb {
    padding-top: 70px;
  }

  .wrapper > h1 {
    padding-top: 80px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 980px) {
  .products {
    li {
      flex-basis: 50%;
    }
  }

  .summary {
    .quantity {
      // margin-left: 5px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .orderby {
    width: 100%;
  }

  .images,
  .summary {
    flex: 1 0 100%;
  }

  .related_products {
    .products {
      li {
        flex: 0 0 48%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .woocommerce {
    & table {
      td.actions {

        .coupon-input {
          display: block;
          margin: 0 auto 20px;
        }

        .btn--orange-bg {
          display: block;
          margin: 0 auto 40px;
        }
      }
    }
  }

  .woocommerce table.cart td.actions .coupon input {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .products {
    li {
      flex-basis: 100%;
    }

    .woocommerce table.cart td.actions .coupon input {
      width: 90%;
    }

  }

  .related_products {
    .products {
      li {
        flex: 0 0 100%;
      }
    }
  }
}
